/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2007, 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2007, 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
BODY						{	margin:0px; 				}


#skin_outer *				{	@FixBoxModel@	}

/** generics **/
.skin_table					{	width:100%; height:100%; 						}
.skin_container				{	width:100%; height:100%; position:relative;		}
.skin_container_ad			{	width:100%; height:100%; position:relative; 	}

/* hide the main screen initially - hide if html facade is not needed */
#skin_outer					{	display:none;				}

/* hide search results toolbar initially */
#skin_tr_search_results_toolbar		{	display:none;
										height:40px;
										width:100%;
									}

/* hide all ads initially */
.skin_outer_ad				{	display:none;				}



/** Outer container of the entire skin **/
#skin_outer 							{	@SkinOuter@			}
#skin_table_outer						{	padding:0;		}


/** set the height for the top row -- must be set to a fixed number! **/
#skin_spacing_top_row					{	height:40px;	}
#skin_spacing_top_row .divider			{	margin:0px 15px;
											border-left:1px solid #e1d2af;
											height:24px;
										}

/** Logo displayed in the app **/
#skin_spacing_logo						{}
#skin_container_logo					{	width:@LogoWidth@;			}
	
/** Search box **/	
#skin_spacing_search,
#skin_spacing_people_search				{	width:100%; padding:0px 10px 4px @cssValue(HSashContainer,width)@;			}

#skin_container_search           		{	width:700px; }



/** combined username/quota **/
#skin_spacing_tree_top					{	text-align:center;	}
#skin_container_tree_top				{	@SkinBorderUsername@	}

#skin_container_links					{	}

/** User Name section **/
#skin_container_username				{	height:auto; padding-bottom:2px; padding-top:4px;	}
#skin_container_username *				{	@SkinTextUsername@	}

/** Quota section **/	
#skin_container_quota					{	@SkinBorderQuota@	}

/** Tree Toolbar a.k.a.  "current app" **/
#skin_spacing_current_app				{}
#skin_container_current_app				{	@SkinBorderCurrentApp@		}

#skin_td_switch_offline,
#skin_container_help,
#skin_container_logoff,
#skin_container_adminlink					{ white-space:nowrap; text-align: center; padding: 0px 10px;}


/** Tree Toolbar **/
#skin_spacing_tree						{	height:100%; padding-bottom:5px;			}
#skin_container_tree					{	@SkinBorderTree@ 			}


/** Tree Footer (mini-calendar) **/
#skin_tr_tree_footer					{ display: none; }
#skin_spacing_tree_footer				{}
#skin_container_tree_footer				{	@SkinBorderMiniCal@ 	}


/** Tree/App Sash **/
#skin_spacing_tree_app_sash				{}
#skin_container_tree_app_sash			{	@SkinBorderTreeSash@		}

/** App Chooser **/
#skin_spacing_app_chooser				{}
#skin_border_app_chooser				{	@SkinBorderAppChooser@ 		}

#skin_container_app_chooser				{
	position:absolute;
	width:auto;
	z-index:1;
	height:30px;
}

/** App Toolbar **/
#skin_spacing_app_top_toolbar			{	}
#skin_container_app_top_toolbar			{	@SkinBorderAppToolbar@	width:auto;	}
#skin_container_app_new_button			{	@SkinBorderAppToolbar@	width:auto;	padding-left: 5px; padding-right:5px; padding-bottom:2px;}			
#skin_spacing_filler				{	
	height:12px; 
	background-color: @AltC@;
	#IFDEF GECKO
	background-image: -moz-linear-gradient(top, @AltC@, @AppC@); /* FF3.6 */
	#ENDIF
	#IFDEF SAFARI
 	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, @AltC@),color-stop(1, @AppC@));                /* Saf4+, Chrome */
 	#ENDIF
 	#IFDEF MSIE
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='@AltC@', EndColorStr='@AppC@');                          /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='@AltC@', EndColorStr='@AppC@')";                     /* IE8 */
    #ENDIF
 }
#skin_spacing_app_row					{ 
/*	background-color:@AppC@; 
	background-image: url("@SkinImgDir@/vmwareLogo.png");
	background-position: right center;
	background-repeat:no-repeat; */
	padding:0px 7px;
	border-spacing: 0px; 
}
#skin_spacing_app_row table{
	border-spacing: 0;
}
/** App  **/
#skin_spacing_app_main					{	height:100%;			}
#skin_container_app_main				{	@SkinBorderApp@		}



/** Top ad **/
#skin_spacing_top_ad					{}
#skin_container_top_ad					{	@AdStyle@ height:@TopAdHeight@;		}

/** Sidebar ad **/
#skin_spacing_sidebar_ad				{	padding:10px 0px 0px 5px;		}
#skin_container_sidebar_ad				{	@AdStyle@ width:@SidebarAdWidth@;		}



/** Tree Top Ad **/
#skin_spacing_tree_top_ad				{}
#skin_container_tree_top_ad				{	@AdStyle@ height:@TreeTopAdHeight@;		}


/** Tree Bottom Ad **/
#skin_spacing_tree_bottom_ad			{}
#skin_container_tree_bottom_ad			{	@AdStyle@ height:@TreeBottomAdHeight@;	}

/** Bottom ad **/
#skin_spacing_bottom_ad					{}
#skin_container_bottom_ad				{	@AdStyle@ height:@BottomAdHeight@;		}



/*** HACKS: this makes the tables work properly -- rationalize this!  **/
#skin_td_tree				{	width:@TreeStartWidth@;	}
#skin_td_tree_app_sash 		{	width:@SashSize@;	}
#skin_td_main				{	width:auto;	height: 100%}
#skin_td_sidebar_ad			{	width:@SidebarAdWidth@;	}

#skin_td_new_button			{padding:2px;}

/** LoginPanel and Splash screen **/
#skin_container_splash_screen			{	@SkinOuter@	@FullWindow@ z-index:90000000;		}

#ZLoginBodyContainer	{	@LoginPanelInnerBorder@	}

#ZSplashPanel			{	@SplashOuterBorder@		}
#ZSplashBodyContainer	{	@SplashInnerBorder@		}

.LoginScreen,
.SplashScreen { position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    font-family:@FontFamily-default@;
    font-size:11px;	
    background-color: @AltC@;
    #IFDEF GECKO
    background-image: -moz-linear-gradient(top, @AltC@, @darken(AltC,19)@); /* FF3.6 */
    #ENDIF
    #IFDEF SAFARI
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, @AltC@),color-stop(1, @darken(AltC,19)@)); /* Saf4+, Chrome */
    #ENDIF
    #IFDEF MSIE
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='@AltC@', EndColorStr='@darken(AltC,19)@'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='@AltC@', EndColorStr='@darken(AltC,19)@')"; /* IE8 */
    #ENDIF
}
.LoginScreen .center,
.SplashScreen .center { 
    margin-top:-150px;
    margin-left:-250px;
    min-height:300px;
    width:500px;
}   
.LoginScreen .center-small,
.SplashScreen .center-small {
    height:270px;
    margin-top:-135px;
    margin-left:-175px;
    width:350px;
}
.LoginScreen .center,
.LoginScreen .center-small,
.SplashScreen .center, 
.SplashScreen .center-small {
    left:50%;
    overflow:visible;
    position:absolute;
    top:50%;

    /*Linear gradient backgrounds*/
    background-color: @darken(AppC,10)@;
    #IFDEF GECKO
    background-image: -moz-linear-gradient(top, @AppC@, @darken(AppC,10)@); /* FF3.6 */
    #ENDIF
    #IFDEF SAFARI
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, @AppC@),color-stop(1, @darken(AppC,10)@)); /* Saf4+, Chrome */
    #ENDIF
    #IFDEF MSIE
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='@AppC@', EndColorStr='@darken(AppC,10)@'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='@AppC@', EndColorStr='@darken(AppC,10)@')"; /* IE8 */
    #ENDIF

    /*Radial gradient backgrounds*/
    #IFDEF GECKO
    background-image: -moz-radial-gradient(50% 0, circle farthest-corner, @AppC@ 0%, @darken(AppC,10)@ 100%); /* FF3.6 */
    -moz-border-radius: 15px; /* FF1+ */
    -moz-box-shadow: 0px 0px 10px @darken(AltC,50)@; /* FF3.5+ */
    #ENDIF
    #IFDEF SAFARI
    background-image: -webkit-gradient( radial, 50% 0%, 0, 50% 0%, 390, from(@AppC@), to(@darken(AppC,10)@) ); /* Saf4+, Chrome */
    -webkit-border-radius: 15px; /* Saf3-4 */
    -webkit-box-shadow: 0px 0px 10px @darken(AltC,50)@; /* Saf3.0+, Chrome */
    #ENDIF
    
    border-radius: 15px; /* Opera 10.5, IE 9, Saf5, Chrome */
    box-shadow: 0px 0px 10px #000000; /* Opera 10.5, IE 9.0 */
    #IFDEF MSIE
    border: 1px solid @darken(AltC,50)@; /* Plain border for IE */
    #ENDIF
}
.LoginScreen H1,
.SplashScreen H1 {
    margin:22px 100px 0px 20px;
}
#ZLoginAppName 		{	@LoginAppName@ 	}
.LoginScreen H2,
.SplashScreen H2 {
    cursor:default;
    margin:0px 0px 32px 100px;
}
.LoginScreen .ImgLoginBanner,
.LoginScreen .ImgAppBanner,
.SplashScreen .ImgLoginBanner {
    cursor:pointer;
	display:block;
}

.SplashScreen .content {
    color: @darken(AppC,50)@;
    text-align:center;
	@FontSize-small@
}
.SplashScreen .message {
    color:#000000;
    cursor:default;
    padding-top:20px;
	@FontSize-big@
}
.SplashScreen .switch{
    margin:30px 100px 60px;
}

.LoginScreen .Footer,
.SplashScreen .Footer {
    bottom:0;
    position:absolute;
    text-align:center;
    width:100%;
    z-index:10;
}
.LoginScreen .copyright,
.SplashScreen .copyright {
    color: @darken(AppC,50)@;
    cursor:default;
    margin-bottom:5px;
	@FontSize-normal@
}

/** Logo Images **/
.ImgAppBanner			{	@AppBanner@ background-repeat:no-repeat;     }
.ImgLoginBanner			{	@LoginBanner@ background-repeat:no-repeat;   }	

#IFDEF MSIE
#skin_container_logo A, #skin_container_logo A:hover, #skin_container_logo A:link {
    background-color: transparent;}
#ENDIF

/* TO INTEGRATE */
.DwtVerticalSash div {
	position:relative;
	top:1px;
	margin-top:0px;
}


.UserInfoLink {
	width:100%;
	text-align:left;
	white-space:nowrap;
}

.ZmPicker .ZToolbar {
	@WidgetHeaderContainer@
	@WidgetHeaderContainer-normal@
}


.BannerTextUser {
	font-weight:bold;
	overflow: hidden !important;
}

.BannerTextUserOffline {
	text-align: left !important;
	padding: 0px 3px;
	font-weight: bold;
}



/* App Chooser and App Tab Overrides -- TODO: Merge into main */

.ZmAppChooser					{	margin:0px !important; 		}

.ZAppTabBorder                  {   @AppTabRoundCorners@        }
.ZAppTabBorder .ZLeftIcon 		{	padding-left:5px;			}
.ZAppTabBorder .ZWidgetTitle 	{	padding-right:10px;			}

.ZSelectedPrev .ZAppTabBorder 	{	@AppTabBorder-selectedPrev@	}
.ZSelectedNext .ZAppTabBorder	{	@AppTabBorder-selectedNext@	}
.ZFirstItem .ZAppTabBorder 		{	@AppTabBorder-first@		}
.ZAppTabSpacer 					{	@AppTab@ @AppTabSpacer@		}



/* Normal Tab Overrides  -- TODO: Merge into main */

.ZSelectedPrev .ZTabBorder 		{	@TabBorder-selectedPrev@	}
.ZSelectedNext .ZTabBorder		{	@TabBorder-selectedNext@	}
.ZFirstItem .ZTabBorder 		{	@TabBorder-first@			}
.ZLastItem .ZTabBorder 			{	@TabBorder-last@			}
.ZTabBarPrefix 					{	@TabBarPrefix@				}
.ZTabBarSuffix 					{	@TabBarSuffix@				}



/* Quota */
.quotaBar 						{	height:8px;			}

/* USED? */
.quotaLabel {		
	@FontSize-smaller@
	text-align:right;
}



.ZmInviteToolBar .ZToolbarTable, .ZmShareToolBar .ZToolbarTable {
	height:100%;
}


/* offline */
.ZmNetworkStatus 		{ font-weight: bold; }
.ZmNetworkStatusIcon 	{ cursor: pointer; }

/* Input stuff -- adding classes properly -- TODO: put this back into dwt.css  */
.DwtInputField INPUT[type="text"], 
.DwtInputField INPUT[type="password"],
.DwtSimpleInput {
	@InputField@
	@InputField-normal@
}
.DwtInputField TEXTAREA {
	@TextArea@
	@TextArea-normal@
}

.DwtInputField-error INPUT[type="text"],
.DwtInputField-error INPUT[type="password"],
.DwtSimpleInput-error {
	@InputField@
	@InputField-error@
}
.DwtInputField-error TEXTAREA {
	@TextArea@
	@TextArea-error@
}

.DwtInputField-focused INPUT[type="text"],
.DwtInputField-focused INPUT[type="password"],
.DwtSimpleInput-focused {
	@InputField@
	@InputField-focused@
}
.DwtInputField-focused TEXTAREA {
	@TextArea@
	@TextArea-focused@
}

.DwtInputField-disabled INPUT[type="text"],
.DwtInputField-disabled INPUT[type="password"],
.DwtSimpleInput-disabled {
	@InputField@
	@InputField-disabled@
}
.DwtInputField-disabled TEXTAREA {
	@TextArea@
	@TextArea-disabled@
}

.DwtInputField-hint INPUT[type="text"],
.DwtInputField-hint INPUT[type="password"],
.DwtInputField-hint INPUT,
.DwtSimpleInput-hint {
	@InputField@
	@InputField-normal@
	@InputField-hint@
}
.DwtInputField-hint TEXTAREA {
	@TextArea@
	@InputField-hint@

}

.DwtInputField-errorhint INPUT[type="text"],
.DwtInputField-errorhint INPUT[type="password"],
.DwtSimpleInput-errorhint {
	@InputField@
	@InputField-error@
	@InputField-hint@
}
.DwtInputField-errorhint TEXTAREA {
	@TextArea-error@
	@Text-light@
}
TEXTAREA
.BannerBar * {
	@FontSize-smaller@
}

.BannerBar {
	padding-top:1px;
    height: 1px;
}
.BannerBar TD {
	padding-right:0px;
}
.BannerTextQuota {
	text-align:center;
	vertical-align:top;
}
.BannerTextUser,
.BannerTextQuota {
	cursor:default;
}

.BannerTextQuota-MultiAccount {
	padding-top:5px;
}


/* styles for the HTML client */
INPUT[type="text"],
INPUT[type="password"]		{	@FieldBorder@	}
SELECT						{	@FieldBorder@	}
.TabSpacer 					{	display:none;		}
.Tab						{	white-space:nowrap;	height:30px; padding-right:5px !important;	}
.TbTop						{	border-width:0 1 1 0 !important; padding-right:5px !important;	}
.TbBottom					{	border-width:0 1 1 0 !important; padding-right:5px !important;	}
.TabFiller					{	@AppTabSpacer@ width:100%;	}
.List .Header TH			{	@RightSeparator@	}
.ZhSubTabs					{	@TabBar@	}
.ZhSubTabs					{	padding:5px !important;	}
.ZhSubTabs .TabSelected		{	@TabBorder-selected@	}

.ZhRow TD,
.ZhRowOdd TD				{	border-width:0 0 1 0 !important; padding-left:3px !important;	}

/* Quick fix for selected Adv. Search button */

.ZmSearchToolbarCell .ZSelected .ZToolbarButtonBorder{
#IFDEF GECKO
 	-moz-border-top-colors:#77736A #BFB8A9;
 	-moz-border-right-colors:#A7A194 #F0E9D8;
 	-moz-border-left-colors:#77736A #BFB8A9;
 	-moz-border-bottom-colors:#A7A194 #F0E9D8;
#ENDIF 	
 	background-color:#FBF9F4 !important;
 	border: 2px inset; 
    color:white;
}

.appt_new_time .ImgBlank_16, .appt_time .ImgBlank_16{ display: none; }