/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Server
 * Copyright (C) 2009, 2010, 2011, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2009, 2010, 2011, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */

/* Offline-specific styles */

BODY {
	background: #949494 url("img/bg.gif") repeat-x top left;
	margin: 0px;
	padding-top: 40px;
}

P, TH, TD, DIV, SPAN, SELECT, INPUT, TEXTAREA, BUTTON, A {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

FORM {
	margin: 0px;
	padding: 0px;
}

A:link, A:active, A:visited {
	color: darkblue;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

INPUT[disabled='disabled'] {
	background-color: #ebebeb;
	color: #444444;
}

.ZPanel {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-align: center;
	width: 720px;
	background: #3e100f url("img/setup-bkgd-full.gif") no-repeat top left;
	padding: 20px 40px 25px;
}

.ZPanelLogo {
	background: url("img/LoginBanner.png") no-repeat top left;
	width: 279px;
	height: 68px;
	padding-bottom: 10px;
}

.ZPanelInfoOuter {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #dddddd;
	padding: 10px;
}

.ZPanelInfoInner {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #ffffff;
	padding: 20px;
}

.ZWelcome {
	font-size: 14px;
	color: #222222;
}

.ZWelcome li {
	margin-bottom: 12px;
}

.ZWelcomeInfo {
	font-size: 12px;
	color: #666666;
}

.ZPanelButton {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #5ca334 url("img/button-bkgd.gif") repeat-x top left;
	color: #eeeeee;
	cursor: pointer;
	height: 24px;
	font-size: 12px;
	min-width: 85px;
	padding: 7px 16px 0px 16px;
	text-align: center;
	white-space: nowrap;
}

.ZPanelButtonHover {
	color: #FFFFFF;
	background: #79c74d;
}

.ZCancel {
	background: #7c7c7c url("img/button-bkgd-cancel.png") repeat-x top left;
}

.ZCancelHover {
	color: #FFFFFF;
	background: #c9c9c9;
}

.ZPanelBottom a {
	color: #333333;
	font-size: 12px;
}

.ZPanelTabInactive {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	background: #6a6a6a url("img/tab_inactive.png") repeat-x top left;
	color: #6b6b6b;
	cursor: pointer;
	height: 25px;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 20px 0px 20px;
	text-transform: uppercase;
}

.ZPanelTabActive {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	background-color: #dddddd;
	color: #444444;
	cursor: default;
	height: 25px;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 20px 0px 20px;
	text-transform: uppercase;
}

.ZPanelFirstTab {
	margin-left: 20px;
}

.ZPanelTab {
	margin-left: 6px;
}

.ZInfo {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #ffffbe;
	border: 1px solid #fff13f;
	color: #444444;
	font-size: 12px;
	margin-bottom: 20px;
	padding: 8px;
}

.ZAccountGood {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #f1fee8;
	border: 1px solid #d3fdba;
	margin-bottom: 20px;
	padding: 5px;
}

.ZAccountHeaderGood {
	border-bottom: 1px solid #d4ecc8;
}

.ZAccountBad {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #ffefef;
	border: 1px solid #ffd5d4;
	margin-bottom: 20px;
	padding: 5px;
}

.ZAccountHeaderBad {
	border-bottom: 1px solid #f4c2c0;
}

.ZAccountActions a {
	color: blue;
	font-size: 11px;
	white-space: nowrap;
	text-decoration: underline;
}
.ZAccountName {
	color: #444444;
	font-size: 15px;
}

.ZAccountEmail {
	color: #444444;
	font-size: 12px;
}

.ZAccountStatus {
	color: #999999;
	font-size: 11px;
	font-weight: bold;
}

.ZAccountLastSync {
	color: #999999;
	font-size: 12px;
	font-style: italic;
	padding-right: 10px;
	white-space: nowrap;
}

.ZAccountError {
	padding: 10px;
	background-color: #ffd5d4;
}

.ZAccountError a {
	font-size: 11px;
}

.ZAccountErrorMessage {
	color: #444444;
	font-size: 11px;
	font-weight: bold;
}

.ZAccountErrorDetails {
	font-size: 10px;
}

#errorDetails {
	color: #444444;
	display: none;
	font-size: 10px;
	overflow: hidden;
}

.ZTable {
	width: 575px;
}

.ZTable td {
	padding: 3px 0px 3px 0px;
}

.ZTableInner td {
	padding: 0px;
}

.ZField {
	color: #222222;
	font-size: 12px;
	white-space: nowrap;
	width: 100%;
}

.ZFieldCertLabel {
	color: #444444;
	font-size: 11px;
}

.ZFieldLabel, .ZFieldError, .ZFieldSubLabel, .ZFieldErrorSubLabel {
	color: #222222;
	font-size: 12px;
	/* font-weight: bold; */
	padding: 0px 6px 0px 10px;
	text-align: right;
	white-space: nowrap;
}

.ZFieldSubLabel, .ZFieldErrorSubLabel {
	color: #222222;
	font-weight: normal;
}

.ZFieldError, .ZFieldErrorSubLabel {
	color: #911510;
}

.ZFieldMedium {
        width: 60%;
}

.ZSectionLabel {
	color: #7a7a7a;
	padding-left: 2px;
	text-align: left;
}

.ZRadioLabel, .ZCheckboxLabel, .ZInputLabel {
	color: #444444;
	font-size: 12px;
}

.ZSelect {
	color: #222222;
	font-size: 12px;
        width: 60%;
}

.ZAccountHelp {
	color: #666666;
	font-size: 12px;
	padding-bottom: 12px;
}

.ZAccountWarning {
	padding-top: 5px;
}

.ZSubLink a {
	color: #999999;
	font-size: 12px;
	text-decoration: underline;
}

.ZError, .ZWarning {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #911510;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 20px;
}

.ZError {
	background-color: #ffefef;
	border: 1px solid #ffd5d4;
	word-wrap: break-word;
	max-width: 543px
}

.ZWarning {
	background-color: #ffffbe;
	border: 1px solid #fff13f;
}

.ZTip a {
	color: #383838;
}

.ZDot {
	color: #383838;
	font-size: 10px;
}

.ZHorizontalLine {
	border-color: #dddddd;
	height: 2px;
	margin: 4px 0px 6px 0px;
	padding: 0px;
}

.ZRowPadding {
	padding-top: 10px;
}
