.png-offline{
 display: block;
background: url("images/offline.png") no-repeat;
 width: 13px;
height: 13px;
float: left;
margin: 6px 4px 0 0;
}
.png-available{
 display: block;
background: url("images/available.png") no-repeat;
 width: 13px;
height: 13px;
float: left;
margin: 6px 4px 0 0;
}
.png-away{
 display: block;
background: url("images/away.png") no-repeat;
 width: 13px;
height: 13px;
float: left;
margin: 6px 4px 0 0;
}
.png-dnd{
 display: block;
background: url("images/busy.png") no-repeat;
 width: 13px;
height: 13px;
float: left;
margin: 6px 4px 0 0;
}
.png-xa{
 display: block;
background: url("images/extended-away.png") no-repeat;
 width: 13px;
height: 13px;
float: left;
margin: 6px 4px 0 0;
}
.png-online{
 display: block;
background: url("images/available.png") no-repeat;
 width: 13px;
height: 13px;
float: left;
margin: 6px 4px 0 0;
}
