/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2009, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2009, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
#ZMTB-MessageComposer-Title
{
	font-size:20px;
	font-color:#CCCCCC;
}

#ZMTB-MessageComposer-Header
{
	background-color:#333333;
	color:#CCCCCC;
	font-weight:bold;
}

#ZMTB-MessageComposer-FormBox
{
	padding:5px;
	-moz-border-radius:5px;
	background-color:#CCCCCC;
}

#ZMTB-MessageComposer-AttachmentsLabel
{
	font-size:20px;
	padding:10px;
	color:#CCCCCC;
}

#ZMTB-MessageComposer-AttachBox
{
 	-moz-appearance: textfield;
 	margin: 4px 4px;
	height:70px;
	overflow-y:scroll;
	width:100px;
}

#ZMTB-MessageComposer-AttachBox-inner
{
	float:left;
}

#ZMTB-MessageComposer-AttachBox.ZMTB-DragOver
{
	border:solid 3px #333333;
	-moz-appearance:none;
	background-color:-moz-field;
}

#ZMTB-MessageComposer-ErrorLabel
{
	margin-top:10px;
	font-size:12px;
	color:red;
}

#ZMTB-MessageComposer-Container
{
	background-color:#333333;
	padding:10px;
	padding-top:0px;
	margin:0px;
	border:0px;
}

#ZMTB-MessageComposer-Container textbox
{
	margin-top:4px;
	margin-bottom:4px;
}

#ZMTB-MessageComposer-ErrorLabel
{
	margin-bottom:10px;
	text-align:center;
}

#ZMTB-MessageComposer-ErrorBox
{
	overflow:hidden;
}
