/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2006, 2007, 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2006, 2007, 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */


body						{	@ChromeBg@	}

/* classes for the skin around the various pieces of the app */

.skin_container						{	position:relative;	overflow:hidden;	}
.skin_table	{	@FullSize@ }	
.full_height {height:100%; } 	




#skin_outer							{	@SkinOuter@	@FullSize@		}
#skin_top_td					{	height:40px;	}
#skin_outer *	{ 	@FixBoxModel@
}
#skin_table_outer					{		padding:5px;		}

/* top row:  logo, search box, quota */
#skin_tr_top	{}
#skin_td_logo	{	
	text-align:center; 
	vertical-align:middle;
}
/** Logo displayed in the app **/
#skin_td_logo						{}
#skin_container_logo	{	
	width:@TreeStartWidth@;
	@SkinBorderLogo@
	height:35px;
#IFDEF MSIE
    height:100%;
#ENDIF
}



#skin_td_search	{	
	vertical-align:top;
	width:100%;
	padding:8 15 5px 0;
}
#skin_container_search	{	
	@SkinBorderSearch@
	height:32;
	padding:3px 4px 4px 4px;
}

/* search builder */
#skin_container_search_builder_toolbar	{@SkinBorderSBToolbar@ 	height:28;	 }

#skin_tr_search_builder	{}
#skin_td_search_builder	{	padding-bottom:5px; }
#skin_container_search_builder	{	
	@SkinBorderSB@
	height:225;
}

#skin_container_login_msg { height: 39; margin: 5; padding: 5;  }

/* search builder app sash*/
#skin_tr_sb_app_sash    {}
#skin_td_sb_app_sash    { text-align:center; vertical-align:middle; height:@SashSize@; }
#skin_container_sb_app_sash   {@SkinBorderSBSash@ }

/** User Name section **/
#skin_container_username				{	height:auto; padding-top:2px;	}
#skin_container_username *				{	@SkinTextUsername@	}

/* current app, tree-app sash, top toolbar */
#skin_tr_app_tabs						{	margin:0 0 0 0; height:30px; }
#skin_td_app_tabs						{	}
#skin_container_app_tabs 				{	height:30px; margin:0 0 0 0;	}

#skin_tr_toolbar						{ overflow:hidden; height:30px; margin:0 0 0 0; }
#skin_td_toolbar	{ width:100%; @ToolbarBg@ }
#skin_container_top_toolbar			{	height:30px; margin:0 0 0 0; width:100%; @ToolbarBg@ }

#skin_td_current_app, #skin_td_tree_container			{	padding:0 0 0 6; 		}
#skin_container_current_app				{	@SkinBorderCurrentApp@	height:30px;}


#skin_td_tree_app_sash					{	text-align:center; vertical-align:middle;	width:@SashSize@;	}
#skin_container_tree_app_sash			{	@SkinBorderTreeSash@		}

/* app chooser, tree, app main */

#skin_tr_main							{				}

#skin_td_app_chooser					{	padding:2 2 0 0; vertical-align:top;	}
#skin_container_app_chooser				{	@SkinBorderAppChooser@ height:100%;}

#skin_tr_tree							{	height:100%;			}
#skin_td_tree							{ height:100%;	padding-bottom:2px; width:@TreeStartWidth@; }
#skin_container_tree						{	@SkinBorderTree@	height:100%;	}

#skin_tr_tree_footer					{	display:table-row;	  	}
#skin_td_tree_footer					{	vertical-align:top;		}

#skin_container_tree_footer				{	@SkinBorderMiniCal@  height:135;	margin:2 -4 0 4;  }



#skin_td_app_main					{	}
#skin_container_app_main			{	@SkinBorderApp@		height:100%;		}


/* status box */

#skin_container_status {
    height:30;
}

.statusBox {
    background-color: #F9EDBE;
    border-top: 1px solid #F0C36D;
    border-bottom: 1px solid #F0C36D;
    font-weight: bold;    
	padding:5px 10px;
}

.AppSash-vert {
	height:11px;
}

.asterisk {
@Text-error@	
}