/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2006, 2007, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2006, 2007, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
body {
	margin: 0;
	padding: 0;
}

body, td, div, p, a, span, input {
	font-family: arial, sans-serif;
	font-size: 12px;
}

button, .inputSubmit {
	font-family: arial, sans-serif;
	font-size: 11px;
}

select {
	font-family: arial, sans-serif;
	font-size: 12px;
	border: 1px solid #999999;
}

form {
	margin: 0;
}

.welcome {
	font-size: 16px;
	font-weight: bolder;
	padding-top: 6px;
}

.footer {
	color: #666666;
	font-size: 13px;
	text-align: center;
}

.footer-small, .footer-small :link, .footer-small :visited, .footer-small :active {
	font-size: 11px;
	color: #000000;
}

.copyright {
	color: rgb(68, 68, 68);
	font-size: 10px;
}

.cannotAccess, .cannotAccess :link, .cannotAccess :visited, .cannotAccess :active {
	padding-top: 15px;
	text-align: center;
	font-size: 10px;
}

.signup, .signup :link, .signup :visited, .signup :active {
	font-size: 16px;
	padding: 8px 0px 15px 0px;
	text-align: center;
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
}

.error {
	color :red;
}

.contentBody {
	padding: 5px;
}

.contentLogin {
	padding: 0px 30px;
	text-align: center;
}

.appLinks {
	padding: 0px 7px;
}
