/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2006, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2006, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
.tab {
	font-weight: bold;
	white-space: nowrap;
	padding: 6 10 6 10;
}

.tabSelected {
	background-color: rgb(255, 255, 248);
}

.contactHeaderCol {
	padding: 8 0 5 0;
}

.contactBorder {
	border-width: 0 0 1 0;
	border-style: solid;
	border-color: #CCCCCC;
}

.contactHeader {
	background-color: #FFFFFF;
	font-weight: bold;
}

.contactName, .contactName :link {
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.contactDetails :link {
	color: #000000;
	text-decoration: none;
}

.contactsContent {
	background-color: #FFFFF8;
}

.contactContent {
	background-color: #FFFFFF;
	padding: 10;
}

.contactTopContent {
	padding: 0 20 0 20;
}

.contactBotContent {
	padding: 20;
}

.contactNameTitle {
	font-size: 200%;
	font-weight: bold;
}

.contactEditTitle {
	font-size: 140%;
	font-weight: bold;
}

.contactEmailTitle {
	font-size: 140%;
}

.contactLabel {
	padding-left: 3em;
	width: 1%;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
}

.contactOutput {
	vertical-align: top;
	white-space: nowrap;
}

.contactSep {
	border-bottom: 1px solid rgb(187, 187, 187);
}
