/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2006, 2007, 2009, 2010, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2006, 2007, 2009, 2010, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
/* nifty global */
.r1 { margin: 0 2; }
.r2 { margin: 0 1; }
.r3 { margin: 0 0; }


/* nifty login */
.login { 
	width: 100%;
	background: rgb(195, 217, 255);
}

.rtopLogin, .rbottomLogin { 
	display: block;
	background: #FFF
}

.rtopLogin b, .rbottomLogin b {
	display:block;
	height: 1px;
	overflow: hidden; 
	background: rgb(195, 217, 255);
}

.rtopLogin .r4, .rbottomLogin .r4 { 
	margin: 0;
	height: 1;
}


/* nifty labels */
.niftyLabel { 
	width: 100%;
	background: rgb(181, 237, 188);
}

.rtopNiftyLabel, .rbottomNiftyLabel { 
	display: block;
	background: #FFF
}

.rtopNiftyLabel b, .rbottomNiftyLabel b {
	display:block;
	height: 1px;
	overflow: hidden; 
	background: rgb(181, 237, 188);
}

.rtopNiftyLabel .r4, .rbottomNiftyLabel .r4 { 
	margin: 0;
	height: 1;
}


/* nifty mail */
.niftyMail { 
	width: 100%;
	background: rgb(195, 217, 255);
}

.rtopNiftyMail, .rbottomNiftyMail { 
	display: block;
	background: #FFF
}

.rtopNiftyMail b, .rbottomNiftyMail b {
	display:block;
	height: 1px;
	overflow: hidden; 
	background: rgb(195, 217, 255);
}

.rtopNiftyMail .r4, .rbottomNiftyMail .r4 { 
	margin: 0;
	height: 1;
}


/* nifty error */
.niftyError { 
	width: 100%;
	background: rgb(250, 209, 99);
	white-space: nowrap;
}

.rtopNiftyError, .rbottomNiftyError { 
	display: block;
	background: #FFF
}

.rtopNiftyError b, .rbottomNiftyError b {
	display:block;
	height: 1px;
	overflow: hidden; 
	background: rgb(250, 209, 99);
}

.rtopNiftyError .r4, .rbottomNiftyError .r4 { 
	margin: 0;
	height: 1;
}
