/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2009, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2009, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
#ZimTB-Toolbar
{
	height:26px;
}

/************************************************
  Default image classes
************************************************/

.ZimTB-Mail-Folder
{
	list-style-image: url("default_images/folder.gif");
}

.ZimTB-Mail-OpenEnv
{
	list-style-image: url("default_images/mail.gif");
}

.ZimTB-Mail-CloseEnv
{
	list-style-image: url("default_images/closemail.gif");
}

.ZimTB-Inbox-Folder
{
	list-style-image: url("default_images/inbox.gif");
	
}

.ZimTB-Drafts-Folder
{
	list-style-image: url("default_images/drafts.gif");
}

.ZimTB-Sent-Folder
{
	list-style-image: url("default_images/sent.gif");
}

.ZimTB-Trash-Folder
{
	list-style-image: url("default_images/trash.gif");
}

.ZimTB-Junk-Folder
{
	list-style-image: url("default_images/junk.gif");
}

.ZimTB-RSS-Folder
{
	list-style-image: url("default_images/rss.gif") ! important;

}

.ZimTB-Saved-Search
{
	list-style-image: url("default_images/newsaved.gif");
}

.ZMTB-Search-Folder
{
	list-style-image: url("default_images/newsaved.gif");
}

/************************************************
 Classes for use in instances of ZMTB_Actions
************************************************/

.ZMTB-ContextAction
{
	list-style-image: url("default_images/zimbra_z_small.png");
}

#ZimTB-ActionsBar
{
	border-bottom:1px solid #333333;
	background-color:#CCCCCC;
}

.ZMTB-ActionBar-Title
{
	background-color:#333333;
	color:#CCCCCC;
	font-weight:bold;
	padding-left:10px;
	-moz-box-align:start;
}

.ZMTB-ActionBar-Title label
{
	font-size:14px;
}

.ZMTB-ActionBar-Row
{
	height:32px;
	-moz-box-align:center;
}

#ZimTB-ActionsBar textbox
{
	width:100px;
}

#ZMTB-Default-Folder .menulist-menupopup > menuitem > .menu-iconic-left,
menulist#ZMTB-Default-Folder > menupopup > menuitem > .menu-iconic-left,
#ZimTB-Folders .menulist-menupopup > menu > .menu-iconic-left,
menulist#ZimTB-Folders > menupopup > menu > .menu-iconic-left
{
 	display: -moz-box;
	margin-right:2px;	
}

