/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2009, 2010, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2009, 2010, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */

* { @FixBoxModel@ }

.editorBody { background: #dddddd !important;}

.ZDToolBar { @AppTabBorder-normal@ padding:3px;}

.ZDToolBar .ZWidgetTitle { @Text@}

.ZDUtilToolBar { background-color: #bccbd6;}

.ZDEditToolBar { @ToolbarBg@ padding:3px; }

.ZDQtbToolBar { padding:4px; height:75px; }

.ZDEditDiv {
    margin:2px 2px 2px 3px;
    border:1px solid gray;
    height:92%;
    width:99%;
}

.ZDEditor {
    background:#ffffff;
    width:100%;
    height:95%;
    overflow-y : auto;
}

.QtOuterDiv {
    width:100%;
    height:70px;
}

.QtInnerDiv {
    width:130px;
    height:60px;
    float:left;
    margin:4px 0px 0px 4px;
}

.Qttable1 th {
    background-color:gray;
}

.Qttable1 tr {
    background-color:white;
}

.defaultSkin table {@ToolbarBg@}
