/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
/*
 *
 *
 */

.Text {
	@Text@
}

/* ???  USE? DO PADDING HERE?  IS THIS FOR MSG LIST VIEWS? */
.ListViewIcon {
	width:16px;
}

/* MOW: UNUSED ?
.dropDownCell {
	width:12px;
}
*/

.DisabledText {
	@Text-disabled@
}

/* apply this class to an div with a bg image to disable it, e.g.
		<div class'ImgFoo ZDisabledImage'></div>
	This is handled in DwtLabel automatically.
*/
.ZDisabledImage {
	@Icon-disabled@
}

.nobreak {
	@NoWrap@
}


/*
 *	Tabs
 */

.DwtTabView {
	@FullWidth@
	text-align:left;
}

.DwtTabView .Title {}


.DwtTabViewPage {
	@PageBg@
}

/* ??? USE? */
.DwtTabViewPage .TitleBar {
	@PageBg@
}

/* ??? USE */
.DwtTabViewPage .Title {
	@FontSize-bigger@
	@TextPadding@
	font-weight:bold;
}


/* ??? USED?  Seems to be old... */
.DwtPropertyPage {
	@PageBg@
}
.DwtPropertyPage .TitleBar {
	@PageHeaderBg@
}
.DwtPropertyPage .Title {
	@FontSize-bigger@
}

/* Actual bar of tabs, not including contents */
.DwtTabBar,
.DwtTabTable {
	@PageHeaderBg@
}


/* Single tab button
	- Note: "inactive" means 'not selected' in this case
*/
.DwtTabButton,
.DwtTabButton-active,
.DwtTabButton-inactive {
	@ActiveCursor@
}




/*
 * Tool tips
 */

/* Outer container of the entire tool tip.  Class "LightOuterBorder" is also applied to this. */
.DwtToolTip 						{	@TooltipContainer@ 					}


/* Body container (div) for the tooltip. */
.DwtToolTipBody 					{	padding:2px; 						}

/* Containers (divs) for the top and bottom pointers of the tooltips.
	The pointers can be composed of images or HTML.	*/
.DwtToolTipTopPointer 				{	position:absolute;	width:30px; 	}
.DwtToolTipBottomPointer 			{	position:absolute;	width:30px; 	}

/* drop-down arrow for DwtLinkButton */
.DwtLinkButtonDropDownArrow 		{	width:16px; 			}
.DwtLinkButtonDropDownArrowTd 		{	padding-left:1px; 		}
.DwtLinkButtonTable:hover .DwtLinkButtonDropDownArrowTd, /* this selector doesn't work on IE and FF (works on Chrome). I prefer this so I keep it, since it would work for any instance of a LinkButton (if we have more than just the help one in the future) and the border stays when the user clicks on the drow-down arrow */
.ZHover .DwtLinkButtonDropDownArrowTd /* this works for all browsers but the border disappears when the arrow is clicked since ZHover class is removed */
								{	padding-left:0px; border-left:solid 1px @LinkButtonArrowColor@; 	}

/* One row of the DwtLinkButton drop-down arrow -- used to do arrows without images */
.DwtLinkButtonDropDownArrowRow 	{	font-size:1px; height:1px; overflow:hidden; position:relative; 
										@LinkButtonArrowContainer@ 	}


/*
* Sashes
*/

/* Vertical sash -- splits a pane vertically (into two tall panes) */
.AppSash-vert 						{	@VSashSize@			}		/* outer class for sash */
.DwtVerticalSash					{	@Sash@ @VSash@		}
.VSashContainer						{	@SashContainer@ @VSashContainer@	}
.VSashThumb							{	@SashThumb@ @VSashThumb@		}

/* Horizontal sash -- splits a pane horizontally (into two wide panes) */
.AppSash-horiz 						{	@HSashSize@			}		/* outer class for sash */
.DwtHorizontalSash					{	@Sash@ @HSash@		}
.HSashContainer						{	@SashContainer@ @HSashContainer@	}
.HSashThumb							{	@SashThumb@ @HSashThumb@		}


.RightBorderSeparator				{	border-right:5px solid @SeparatorColor@; 	}



/*
* Trees
*/

.DwtTree {
	@TreeContainer@	/* ??? IS THIS THE ENTIRE THING? was TreeItem	*/
}

/* The DwtTreeItem control element also contains nested tree items, so suppress
   its focus outline. */
.DwtTreeItem-Control:focus {
	outline: none;
}

/* container (div) for each item in the tree */
.DwtTreeItem {
	@TreeItem@
}

/* text style for name of a normal tree item */
.DwtTreeItem-Text {
	@TreeItemText@
	@TreeItemSpacing@
}

/* text style for name of a selected tree item */
.DwtTreeItem-Text-focused {
	@TreeItemText-focused@
	@TreeItemSpacing@
}


/* extra image style for a normal tree item */
.DwtTreeItem-ExtraImg{
	@TreeItemExtraImg@
}

/* extra image style for a selected tree item */
.DwtTreeItem-ExtraImg-focused {
	@TreeItemExtraImg-focused@
}

/* text style for name of a selected tree item */
.DwtTreeItem-selected {
	@TreeItemHeight@
	@TreeItemSelectedBg@
	@Text-selected@
	@TreeItemSpacing@
	@ActiveCursor@
}

/* text style for name of a selected and focused tree item */
.DwtTreeItem-selected-focused {
	@TreeItemHeight@
	@TreeItemFocusedBg@
	@Text-selected@
	@TreeItemSpacing@
	@ActiveCursor@
}

/* text style for a right-clicked tree item */
.DwtTreeItem-actioned {
	@RightClickBg@
	@Text-active@
	@TreeItemSpacing@
	@TreeItemHeight@
	@ActiveCursor@
}

/* text style for a tree item when dragged over */
.DwtTreeItem-dragOver {
	@DropBg@
	@DropText@
	@TreeItemSpacing@
}

/* text style for tree item that performs action on single click */
.DwtTreeItem-hover {
	text-decoration:underline;
	@Text@
	@TreeItemSpacing@
}

.DwtTreeItem .imageCell,
.DwtTreeItem-selected .imageCell,
.DwtTreeItem-selected-focused .imageCell,
.DwtTreeItem-actioned .imageCell {
	white-space:nowrap;	/* ??? */
	@ImagePadding@
}

.DwtTreeItemChildDiv {
	padding-left:@SmallIconWidth@;
}

.DwtTreeItemLevel1ChildDiv {
	padding-left:@SmallIconWidth@;
	padding-top:2px;		/* ??? */
}

.overviewHeader .ImgNodeExpanded,
.overviewHeader .ImgNodeCollapsed {
	@ActiveCursor@
}

/*
* Buttons
*
* The background color is set by a modifier.
* DwtToolbarButton - toolbar button, very light border (so we can show a border on mouseover)
* States for buttons:
*
*	-hover		-- mouseover state
*	-active		-- mousedown state
*	-selected	-- permanently down
*
*/

/* normal buttons, like in a dialog */
.DwtButton 								{	@ButtonBorder@	@ButtonBorder-normal@			}
.DwtButton-disabled						{	@ButtonBorder@	@ButtonBorder-disabled@			}
.DwtButton-hover 						{	@ButtonBorder@	@ButtonBorder-hover@			}
.DwtButton-active						{	@ButtonBorder@	@ButtonBorder-active@			}
.DwtButton-selected						{	@ButtonBorder@	@ButtonBorder-selected@			}
.DwtButton-default						{	@ButtonBorder@	@ButtonBorder-default@			}
.DwtButton-focused						{	@ButtonBorder@	@ButtonBorder-focused@			}

.DwtButton .Text 						{	@ButtonText@									}
.DwtButton-disabled .Text				{	@ButtonText@	@ButtonText-disabled@			}
.DwtButton-hover .Text					{	@ButtonText@	@ButtonText-hover@				}
.DwtButton-active .Text					{	@ButtonText@	@ButtonText-active@				}
.DwtButton-selected .Text				{	@ButtonText@	@ButtonText-selected@			}
.DwtButton-default .Text				{	@ButtonText@	@ButtonText-default@			}
.DwtButton-focused .Text				{	@ButtonText@	@ButtonText-focused@			}



/* toolbar buttons, no border in normal/disabled state, border in active, etc */
.DwtToolbarButton 						{	@ToolbarButtonBorder@			@ActiveCursor@	}
.DwtToolbarButton-disabled				{	@ToolbarButtonBorder-disabled@	@ActiveCursor@	}
.DwtToolbarButton-hover					{	@ToolbarButtonBorder-hover@		@ActiveCursor@	}
.DwtToolbarButton-active				{	@ToolbarButtonBorder-active@	@ActiveCursor@	}
.DwtToolbarButton-selected				{	@ToolbarButtonBorder-selected@	@ActiveCursor@	}
.DwtToolbarButton-default				{	@ToolbarButtonBorder-default@	@ActiveCursor@	}
.DwtToolbarButton-focused				{	@ToolbarButtonBorder-focused@	@ActiveCursor@	}

.DwtToolbarButton .Text					{	@ToolbarButtonText@				@ActiveCursor@	}
.DwtToolbarButton-hover .Text			{	@ToolbarButtonText-hover@		@ActiveCursor@	}
.DwtToolbarButton-active .Text			{	@ToolbarButtonText-active@		@ActiveCursor@	}
.DwtToolbarButton-selected .Text		{	@ToolbarButtonText-selected@	@ActiveCursor@	}
.DwtToolbarButton-disabled .Text		{	@ToolbarButtonText-disabled@	@ActiveCursor@	}
.DwtToolbarButton-default .Text			{	@ToolbarButtonText-default@		@ActiveCursor@	}
.DwtToolbarButton-focused .Text			{	@ToolbarButtonText-focused@		@ActiveCursor@	}





/*
 *  DwtSelect
 */

/* MOW NOTE: THIS DOESN'T SEEM TO BE USED!

.DwtSelect 							{	@Select@						}
.DwtSelect-hover 						{	@Select-hover@ padding:0px;	}
.DwtSelect-active						{	@Select-active@				}
.DwtSelect-selected					{	@Select-active@				}
.DwtSelect-disabled					{	@Select-disabled@				}
.DwtSelect-focused						{	@Select-focused@				}

.DwtSelect .Text 						{	@SelectText@					}
.DwtSelect-hover .Text					{	@SelectText-hover@			}
.DwtSelect-active .Text					{	@SelectText-active@			}
.DwtSelect-selected .Text				{	@SelectText-active@			}
.DwtSelect-disabled .Text				{	@SelectText-disabled@			}
.DwtSelect-focused .Text				{	@SelectText-focused@			}

.DwtSelect TABLE,
.DwtSelect-hover TABLE,
.DwtSelect-active TABLE,
.DwtSelect-disabled TABLE {
	@FullWidth@
	@CompactTable@
	@TableFixed@
}

/* Turns off fixed width of button */

/* MOW NOTE: THIS DOESN'T SEEM TO BE USED!
.DwtSelectComposite {
}

.DwtSelectComposite .DwtButton,
.DwtSelectComposite .DwtButton-hover,
.DwtSelectComposite .DwtButton-active,
.DwtSelectComposite .DwtButton-disabled {
	width:auto;
}

/* Makes sure the button is stretched to fit its container */
/* MOW NOTE: THIS DOESN'T SEEM TO BE USED!
.DwtSelectComposite .DwtButton TABLE,
.DwtSelectComposite .DwtButton-hover TABLE,
.DwtSelectComposite .DwtButton-active TABLE,
.DwtSelectComposite .DwtButton-disabled TABLE {
	@CompactTable@
	width:100%;
}

.DwtSelectCompositeHeight {
	height:24px;
}
.DwtSelectCompositeMenu {
	@MenuContainer@
	margin-top:15; /* Enough space to keep the hidden menu table out of sight * /
	margin-right:12; /* Adds space to account for the dropdown cell in the button * /
}
*/

/*
 *  Text
 */

.DwtText {
	@TransparentBorder@
}

.DwtText.ZFocused, .DwtText:focus {
	@FocusOutline@
}

/*
* Menus
*/

/* ??? USE OF DIFFERENT KINDS OF MENUS? */
.DwtMenu,
.ActionMenu,
.DwtSelectMenu {
	@MenuContainer@
}


.DwtMenuItem 							{	@MenuItem@	}

.DwtMenuItem-selected,
.DwtMenuItem-IconArea-selected,
.DwtMenuItem-CheckedArea-selected 		{	@MenuItem-hover@	}

.DwtMenuItem-active,
.DwtMenuItem-IconArea-active,
.DwtMenuItem-CheckedArea-active 		{	@MenuItem-active@	}

.DwtMenuItem .Text 						{	@MenuItemText@			@MenuItemTextPadding@	}
.DwtMenuItem-selected .Text 			{	@MenuItemText-hover@	@MenuItemTextPadding@	}
.DwtMenuItem-active .Text 				{	@MenuItemText-active@	@MenuItemTextPadding@	}
.DwtMenuItem .DisabledText 				{	@MenuItemText-disabled@	@MenuItemTextPadding@	}

.DwtMenuItem-IconArea,
.DwtMenuItem-CheckedArea 				{}

.DwtMenuItem-Separator 					{	@MenuItemSeparator@	}

.DwtMenuCascadeCell 					{	@LeftSeparator@		}


#IFDEF MSIE
.DwtMenuScrollTop,
.DwtMenuScrollBottom					{	text-align:center; 	}
.DwtMenuScrollTop div,
.DwtMenuScrollBottom div				{	display:inline; }
#ENDIF

#IFDEF GECKO
.DwtMenuScrollTop div,
.DwtMenuScrollBottom div				{	position:relative; top:@MenuScrollArrowMargin@;	}
#ENDIF

.DwtMenuScrollTop,
.DwtMenuScrollBottom					{	width:100%; @MenuScrollHeight@ 	}
.DwtMenuScrollTop div,
.DwtMenuScrollBottom div				{	margin:@MenuScrollArrowMargin@ auto;	}

.DwtMenu-congruentLeft					{	@MenuCongruentLeft@	}
.DwtMenu-congruentRight					{	@MenuCongruentRight@ 	}

/* ??? */
.DwtSelectMenu TABLE{
	@FullWidth@
}



/* ??? USE */
.DwtSelectMenu .DwtMenuItem 			{	@MenuItem@		}
.DwtSelectMenu .DwtMenuItem-text 		{	padding-left:@BoxPaddingSize@;	text-align:left;	}
.DwtSelectMenu .DwtMenuItem-leftFill 	{	width:19px;		/* ??? SIZE? */	}

.DwtSelectMenu .DwtMenuItem-selected .DwtMenuItem-text{
	@ActiveCursor@
}




/***************
 *
 *	DwtListView
 *
 *		NOTE:  the "rows" of the list viewer are currently in  common.css,  ugh.
 *
 ***************/

/* Entire LV control */
.DwtListView {
	@ListContainer@
	@FullWidth@
}


/* ??? USE */
.DwtListView-Sash {
	width:1px;
	height:100%;
	vertical-align:top;
}

/***
 *		Header
 ***/

/* Container for the list header */
.DwtListView-ColHeader {
	@ListHeaderContainer@
	position:relative;
	overflow:hidden;
}

/* Header for one column of the list */
.DwtListView-Column {
	@ListColHeaderContainer@
	@ListColHeaderContainer-normal@
}

.FixedColumnHeaderTables .DwtListView-Column TABLE {
	table-layout:fixed
}

/* ??? SHOTGUN */

.DwtListView-Column TD {
	@ListColHeaderText@
	@ListColHeaderText-normal@
}

/* Mouse-over look for column header */
.DwtListView-ColumnHover {
	@ListColHeaderContainer@
	@ListColHeaderContainer-hover@
}

/* ??? SHOTGUN */
.DwtListView-ColumnHover TD {
	@ListColHeaderText@
	@ListColHeaderText-hover@
}

/* ??? USE */
.DwtListView-ColumnEmpty {

}

/* Vertical divider btwn 2 columns, allows column to be resized */
/* ??? COLORS AND SIZE ARE FIXED IN THE CODE -- USE AN IMAGE? */
.DwtListView-ColumnSash {
	width:2px;					/* ??? SIZE */
	background-color:black;
}

.DwtDefaultCursor {
	cursor:default;
}

/* Header of the currently selected column */
TD.DwtListView-ColumnActive {
	@ListColHeaderContainer-selected@
}

/* ??? SHOTGUN */
.DwtListView-ColumnActive TD {
	@ListColHeaderText@
	@ListColHeaderText-hover@
}


/***
 *		Rows (a.k.a. items) -- also look for 'rows' in common.css
 ***/

/* Data rows container, not including header */
.DwtListView-Rows {
	position:relative;
	overflow:auto;
	@FullSize@
}


.ZmContactSearchListView .DwtListView-Rows {
	height:276px;
}

.ZmRowDoubleHeader DIV DIV, .DwtMsgListMultiCol DIV DIV {
	padding-left: 0;
	padding-right: 0;
}

UL.DwtListView-Rows {
	list-style:none;
	padding:0px;
	margin:0px;
}

.TopRow DIV, .BottomRow DIV,
.DwtMsgListMultiCol DIV,
.SimpleContact DIV DIV {
	display:inline-block;
}

.DwtListHeaderItem-label {
	padding-left:3px;
	white-space:nowrap;
	overflow:hidden;
	@OverflowEllipsis@
}

/* Fix for bug: 85014 */
.DwtListView-Rows TD, .ZmRowDoubleHeader, .DwtMsgListMultiCol DIV {
    overflow:hidden;
    padding-left:@TextPaddingSize@;
}
.DwtListView-Rows TD {
    padding-right:0px;
}
.ZmRowDoubleHeader, .DwtMsgListMultiCol DIV {
    padding-right:2px;
}

/*
 * Dialogs
 */

/* Outer container (div) for the entire dialog.
	Class "WindowOuterBorder[-light]" is also applied to this element */
.DwtDialog	{	}

.WindowOuterContainer 		{		@WindowOuterBorder@				}
.WindowInnerContainer 		{		@WindowInnerBorder@				}
.LightWindowOuterContainer	{		@LightWindowOuterBorder@		}
.LightWindowInnerContainer	{		@LightWindowInnerBorder@		}

#IFDEF GECKO
/* Special Gecko border colors require that the table border not be collapsed */
.WindowOuterContainer>TABLE,
.LightWindowOuterContainer>TABLE  {		border-collapse:separate;		}
#ENDIF

/* Text label in dialog toolbar. */
.DwtDialogTitle {
	@WindowTitleText@
	@WindowTitleText-normal@
	@NoWrap@
	vertical-align:top;
	@MoveCursor@
}

.LightWindowOuterContainer .DwtDialogTitle {
	@WindowTitleText@
	@WindowTitleText-light@
}

/* Container (TD) for the body of the dialog, including buttons.
	Class "Dwt[Dark|Light]InnerBorder" is also applied to this elements */
.DwtDialogBody 	{
  cursor:default;

}



/* ??? SHOTGUNS */
.DwtDialog .Label {
	@Label@
}
.DwtDialog .Field {
	width:290px;
}
.DwtDialog TEXTAREA {
	width:100%;
}
.DwtDialogBody TD {
	/* @Label-wrap@ */
}

.DwtDialogButtonBar {}

.DwtDialogButtonBar>TABLE>TBODY>TR>TD {
	padding:5px; 
}
.DwtDialogButtonBar .ZButton {
	margin-left:3px;
	@DialogButtonHeight@
}


/* TODO: Rationalize this ? */

/* DwtResizableWindow, COLORS PART - TODO [Owen]: skin support */

.DwtResizableWindow-unfocused .DwtResizableWindow-topcont {
/*
  border:1px solid #bcb29b;
  background-color:#e8dcc1;
*/
  @WindowContainer@
/*  @VeilOpacity@ */
  padding:0px;
  border-width:2px;
  @roundCorners(2px)@
}

.DwtResizableWindow-focused .DwtResizableWindow-topcont { /* focused */
/*
  border:1px solid #454d5b;
  background-color:#9db2d4; z-index:1000;
*/
  @ToolbarContainer@
  padding:0px;
  border-width:2px;
  @roundCorners(2px)@
}

/* DwtResizableWindow, LAYOUT PART (very important, please don't modify) */

.DwtResizableWindow { cursor:default; }

.DwtResizableWindow-topcont { position:relative !important; height:100% !important; width:100% !important; }
.DwtResizableWindow-handles { position:absolute; left:0px; top:0px; width:100%; height:100%; border-collapse:collapse; }
.DwtResizableWindow-cont { position:absolute; left:3px; top:3px; right:3px; bottom:3px; }

.DwtResizableWindow-handles TD { font-size:1px !important; line-height:1px !important; }

.DwtResizableWindow-handles-top TD, .DwtResizableWindow-handles-bot TD { height:12px; }
.DwtResizableWindow-NW, .DwtResizableWindow-NE, .DwtResizableWindow-SW, .DwtResizableWindow-SE, .DwtResizableWindow-W, .DwtResizableWindow-E { width:10px; }

.DwtResizableWindow-NW { cursor:nw-resize; }
.DwtResizableWindow-N  { cursor:n-resize; }
.DwtResizableWindow-NE { cursor:ne-resize; }
.DwtResizableWindow-W  { cursor:w-resize; }
.DwtResizableWindow-E  { cursor:e-resize; }
.DwtResizableWindow-SW { cursor:sw-resize; }
.DwtResizableWindow-S  { cursor:s-resize; }
.DwtResizableWindow-SE { cursor:se-resize; }

.Minimize .DwtResizableWindow-NW { cursor:default; }
.Minimize .DwtResizableWindow-N  { cursor:default; }
.Minimize .DwtResizableWindow-NE { cursor:default; }
.Minimize .DwtResizableWindow-W  { cursor:default; }
.Minimize .DwtResizableWindow-E  { cursor:default; }
.Minimize .DwtResizableWindow-SW { cursor:default; }
.Minimize .DwtResizableWindow-S  { cursor:default; }
.Minimize .DwtResizableWindow-SE { cursor:default; }

.DwtResizableWindow-inactiveCover { position:absolute; left:3px; top:3px; right:3px; bottom:3px; }
.DwtResizableWindow-focused .DwtResizableWindow-inactiveCover { display:none; }
.DwtResizableWindow-resizing { @DisableSelection@ /* make sure content is unselectable while resizing */ }

.DwtWindowManager {
	position:absolute;
	top:0px; left:0px;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	border:none;
	overflow:visible;
	visibility:hidden;
}





/* MERGE WITH ZmFieldLabelRight ? */
.DwtPropertySheet .Label {
	@Label@
	text-align:right;
}
.DwtPropertySheet>TABLE {
	@PropertySheet@
}
.DwtPropertySheet>TABLE>TBODY>TR>TD {
	@PropertySheetSpacing@
}



/*
 * Message dialog
 */

/* Outer container for the message dialog */
.DwtMsgDialog {
	width:400px;
	max-height:400px;
	overflow:auto;
}

/* For the error dialog when displaying a request */
.DwtMsgDialog-wide {
	width:600px;
	max-height:400px;
	overflow:auto;
}

/* Text area for the message dialog, including icon */
.DwtMsgArea {
	width:100%;
	@BoxPadding@
}

/* Outer container for the confirmation dialog */
.DwtConfirmDialog {
	max-width:400px;
}

/* Font for confirmation dialogs ('Are you sure you want to delete?') */
.DwtConfirmDialogQuestion {
	@FontSize-big@
	@BoxMargin@
}



/*
 *  DwtAlert -- inline alert panel, used in admin   ??? WHERE?
 */

/* Outer container for the alert, mixed in with DwtAlertInfo, DwtAlertWarn, DwtAlertCrit for final appearance */
.DwtAlert {					/* ??? SKIN ME */
	@NoticeContainer@
	@BoxSpacing@
	/*	margin:.5em 2em;
		padding:.25em;	*/
}

/* Alert appearance for informative message, nothing is wrong */
.DwtAlertInfo {
	@NoticeText@
	@NoticeContainer-info@
}

/* Alert appearance for warning-level message */
.DwtAlertWarn {
	@NoticeText@
	@NoticeContainer-warning@
}

/* Alert appearance for critical message */
.DwtAlertCrit {
	@NoticeText@
	@NoticeContainer-warning@
}


/* ??? USE? */
.DwtAlertBare {				/* ??? SKIN ME */
	margin:0px;
	padding:0px;
	border-style:none;
	background-color:transparent;
}


/* Spacing around the icon for a DwtAlert */
.DwtAlertIcon {
	@ImagePadding@
	/* 	??? WAS:   margin:0.25em; margin-right:0.5em; */
}

/* Title of the alert */
/* ??? USE? */
.DwtAlertTitle {
	@FontSize-bigger@
}

/* Container for the actual text of the alert */
.DwtAlertContent {
	font-weight: normal;
}


/* ??? USE? */
.NoResults {
	color:@TxtC@;
	font-size:10pt;	/* ??? SIZE */
	text-align:center;
	@NoWrap@
}



/*
 * DwtColorPicker -- shows a palette of color boxes to choose from
 */

/* Container for the entire color picker, inside the menu */
.DwtColorPicker {
}


.DwtColorPicker .Colors {
	position:relative;
	height:12px;
	clear:both;
}

.DwtColorPicker .Color {
	display:inline;
	float:left;
	width:12px;
	height:11px;
	margin-right:1px;
	border:1px solid black;
	border-top:none;
}

.DwtColorPicker .First .Color {
	border-top:1px solid black;
}

.DwtColorPicker .Colors .ZHover {
	width:10px;
	border-left-width:2px;
	border-right-width:2px;
}

.DwtColorPicker .Text {
	clear:both;
	margin:4px 0px;
}

.DwtColorPickerButton .Color {
	width:12px;
	height:11px;
	border:1px solid black !important;
}

.DwtColorPickerLabel .Color {
	width:12px;
	height:11px;
	border:1px solid black !important;
}
/* ??? USED? */
.DwtResizeGripper {
	border:none;
	width:16px;
	height:16px;
}




/*
 * Mini-calendar as shown in the tree and in date widgets
 */

/* Outer container for the entire calendar */
.DwtCalendar {
	@MiniCalBg@
	@InactiveCursor@
}

/* Container of the calendar titlebar (arrows and month label, not DOW labels) */
.DwtCalendarTitlebar {
	@MiniCalHeaderBg@
#IFDEF MSIE_LOWER_THAN_9
	height:18px;
#ELSE
	height:2rem;
#ENDIF
}

.DwtCalendarTitlebar > TABLE {
	border-collapse:separate;
	width:100%;
}

/* Arrow buttons in the calendar titlebar in various states */
.DwtCalendarButton {
	@MiniCalButton@
	@MiniCalButton-normal@
}

.DwtCalendarButton-hover {
	@MiniCalButton@
	@MiniCalButton-hover@
}

.DwtCalendarButton-active {
	@MiniCalButton@
	@MiniCalButton-active@
}


/* Name of the month in the calendar titlebar */
.DwtCalendarTitleCell {
	@FullWidth@
	@MiniCalHeaderText@
	@ActiveCursor@
	text-align:center;
}

/* Label for the days of the week in calendar titlebar */
.DwtCalendarDow {
	@MiniCalDOWBg@
	@MiniCalDOWText@
}

.DwtCalendarWeekNo {
	@Text-anchor@
}

.DwtCalendarWeekNoTitle {
	@MiniCalDOWBg@
	@Text-anchor@
}

#IFNDEF MSIE
.DwtCalendarBody {
	border-collapse:separate;
}
#ENDIF

/* Actual day of the month in the calendar in various states */
.DwtCalendarDay {
	@MiniCalButton@
	@MiniCalButton-normal@
	@MiniCalDay@
}

.DwtCalendarDay-hover {
	@MiniCalButton@
	@MiniCalButton-hover@
	@MiniCalDay@
}

.DwtCalendarDay-active {
	@MiniCalButton@
	@MiniCalButton-active@
	@MiniCalDay@
}

.DwtCalendarDay-selected {
	@MiniCalButton@
	@MiniCalDay-selected@
}

.ZmScheduleAssistantView .DwtCalendar .DwtCalendarDay-selected {
	@MiniCalButton@
	@MiniCalDay-sched-selected@
}

.DwtCalendarDay-today {
	@MiniCalButton@
	@MiniCalButton-today@
}

/* hilited because it has appointments */
.DwtCalendarDay-hilited {
	@MiniCalDay-hilited@
}

/* gray because it's not in the current month */
.DwtCalendarDay-grey {
	@MiniCalDay-wrongMonth@
}

.DwtCalendarDay-green {
	background-color:#80C095;
}

.DwtCalendarDay-red {
	background-color:#EC8080;
}

.DwtCalendarDay-orange {
	background-color:#FFBB80;
}

.DwtMenu .DwtCalendar {
	width:170px;
}

.menuOverview {
	max-height:200px;
}

/*
 * DwtInputField - whiz-bang input field that Ross cooked up...
 *
 * TODO: make sure this has DwtInputField + DwtInputField-error at same time
 *
 */
.DwtInputField INPUT[type="text"],
.DwtInputField INPUT[type="password"],
.DwtInputField INPUT,
.DwtSimpleInput {
	@InputField@
	@InputField-normal@
}
.DwtInputField TEXTAREA {
	@TextArea@
}

.DwtInputField-error INPUT[type="text"],
.DwtInputField-error INPUT[type="password"],
.DwtSimpleInput-error {
	@InputField-error@
}
.DwtInputField-error TEXTAREA {
	@TextArea-error@
}

.DwtInputField-focused INPUT[type="text"],
.DwtInputField-focused INPUT[type="password"],
.DwtSimpleInput-focused {
	@InputField-focused@
}
.DwtInputField-focused TEXTAREA {
	@TextArea-focused@
}

.DwtInputField-disabled INPUT[type="text"],
.DwtInputField-disabled INPUT[type="password"],
.DwtSimpleInput-disabled {
	@InputField-disabled@
}
.DwtInputField-disabled TEXTAREA {
	@TextArea-disabled@
}

#IFDEF WEBKIT
.DwtInputField INPUT::-webkit-input-placeholder,
#ENDIF
#IFDEF GECKO
.DwtInputField INPUT:-moz-placeholder,
.DwtInputField INPUT::-moz-placeholder,
#ENDIF
#IFDEF MSIE_10
.DwtInputField INPUT:-ms-input-placeholder,
.DwtInputField INPUT[type="text"]:-ms-input-placeholder,
.DwtInputField INPUT[type="password"]:-ms-input-placeholder,
#ENDIF
#IFDEF MODERN_IE
.DwtInputField INPUT:-ms-input-placeholder,
.DwtInputField INPUT[type="text"]:-ms-input-placeholder,
.DwtInputField INPUT[type="password"]:-ms-input-placeholder,
#ENDIF
.DwtInputField-hint INPUT[type="text"],
.DwtInputField-hint INPUT[type="password"],
.DwtInputField-hint INPUT,
.DwtSimpleInput-hint {
	@InputField-hint@
}

#IFDEF WEBKIT
.DwtInputField TEXTAREA::-webkit-input-placeholder,
#ENDIF
#IFDEF GECKO
.DwtInputField TEXTAREA:-moz-placeholder,
.DwtInputField TEXTAREA::-moz-placeholder,
#ENDIF
#IFDEF MSIE_10
.DwtInputField TEXTAREA:-ms-input-placeholder,
#ENDIF
#IFDEF MODERN_IE
.DwtInputField TEXTAREA:-ms-input-placeholder,
#ENDIF
.DwtInputField-hint TEXTAREA {
	@Text-hint@
}

.DwtInputField-errorhint INPUT[type="text"],
.DwtInputField-errorhint INPUT[type="password"],
.DwtSimpleInput-errorhint {
	@InputField-error@
	@Text-light@
}
.DwtInputField-errorhint TEXTAREA {
	@TextArea-error@
	@Text-light@
}


/*
 *  DwtWizardDialog - multi-step "wizard" dialog for creating new things
 */

.DwtWizardDialogPageDiv {
	position:static;
	@WizardBg@
}

.DwtStepLabelActive {
	@FontSize-bigger@
	@Text@
	@TextPadding@
}

.DwtStepLabelInactive {
	@FontSize-bigger@
	@Text-disabled@
	@TextPadding@
}


/*
 * DwtPropertyEditor --  editor for Zimlets
 */

/* ??? SHOTGUNNING EVERYWHERE... */

.DwtPropertyEditor TABLE {
	border-collapse:collapse;
}
.DwtPropertyEditor * {
	@FontSize-normal@
}
.DwtPropertyEditor TABLE TD {
	padding:1px @BoxPaddingSize@;
}

/* ??? Wrong name -- switch to ZmFieldLabelRight */
.DwtPropertyEditor TABLE TD.label {
	cursor:default;
	font-weight:bold;
	text-align:right;
}
.DwtPropertyEditor TABLE TD.label:after {
	content:":";
}

.DwtPropertyEditor TABLE TD.grouplabel {
	vertical-align:top;
}

/* ??? Wrong name -- switch to ZmInput */
.DwtPropertyEditor TABLE TD.field {

}

.DwtPropertyEditor TABLE TR.readonly TD.field {
	@InputField-disabled@
}


.DwtPropertyEditor TABLE TR.expander-collapsed TD,
.DwtPropertyEditor TABLE TR.expander-expanded TD {
	@PageBg@
	cursor:pointer;
}

/* ??? USE? NO IMAGE? */
.DwtPropertyEditor TABLE TR.expander-collapsed TD DIV {
	background:url("@DwtImgDir@/Expand.gif?v=@jsVersion@") no-repeat 100% 50%;
	padding-right:15px;
}

/* ??? USE? NO IMAGE? */
.DwtPropertyEditor TABLE TR.expander-expanded TD DIV {
	background:url("@DwtImgDir@/Collapse.gif?v=@jsVersion@") no-repeat 100% 50%;
	padding-right:15px;
}

.DwtPropertyEditor TABLE TR.level-1 TD.label { padding-left:20px; }
.DwtPropertyEditor TABLE TR.level-2 TD.label { padding-left:35px; }
.DwtPropertyEditor TABLE TR.level-3 TD.label { padding-left:50px; }
.DwtPropertyEditor TABLE TR.level-4 TD.label { padding-left:65px; }
.DwtPropertyEditor TABLE TR.level-5 TD.label { padding-left:80px; }
.DwtPropertyEditor TABLE TR.level-6 TD.label { padding-left:95px; }
.DwtPropertyEditor TABLE TR.level-7 TD.label { padding-left:110px; }
.DwtPropertyEditor TABLE TR.level-8 TD.label { padding-left:125px; }
.DwtPropertyEditor TABLE TR.level-9 TD.label { padding-left:140px; }

/* change text color for field values that have actually changed -- WHY?  */
.DwtPropertyEditor TABLE TR.dirty TD {
	color:@ValueChangedColor@;
}
.DwtPropertyEditor TABLE TR.invisible {
	display:none;
}

.DwtPropertyEditor INPUT[type="text"].DwtPropertyEditor-input,
.DwtPropertyEditor INPUT[type="password"].DwtPropertyEditor-input {
	position:absolute;
	@InputField@
}
.DwtPropertyEditor INPUT[type="text"].DwtPropertyEditor-input-error,
.DwtPropertyEditor INPUT[type="password"].DwtPropertyEditor-input-error {
	@InputField-error@
}

.DwtPropertyEditor .DwtPropertyEditor-ErrorMsg {
	position:absolute;
	@WarningBg@
	@NoticeOuterBorder@
	@NoticeText@
	@TextPadding@
	@FontSize-smaller@
	@Text-important@
}

.DwtPropertyEditor span.DwtPropertyEditor-required {
	@FontSize-smaller@
	@Text-required@
}

.DwtPropertyEditor .Field { width:auto; }



/*
 * XForms things
 *
 * Please don't change the below, if you think you need to, come talk to Owen
 *
 */


/* RENAME ME */
.redAsteric {
	@Text-important@
}



/* widgets */
.xform_field_disabled {
	
}
INPUT.xform_field_disabled {
	@InputField-disabled@
}
TEXTAREA.xform_field {
	overflow-x:auto;
	overflow-y:auto;
}

TEXTAREA.xform_field_disabled {
	@TextArea-disabled@
}

INPUT.dynselect_display_disabled {
	@InputField-disabled@
}

.xform_table {
	@CompactTable@
}
.xform_composite_table {
	@CompactTable@
}

.xform_field_container,
.xform_select_container,
.xform_output_container {

}

.xform_field,
.xform_select,
.xform_select1,
.xform_textarea,
.xform_output,
.xform_button,
.xform_anchor {

}

INPUT.xform_field {
	@InputField-normal@
}
.xform_output {
	@TextPadding@
}

.xform_select {
	height:100px;
	width:200px;
}

.xform_repeat_label,
.xform_label,
.xform_label_left,
.xform_label_right {
	@Label@
	@TextPadding@
	height:2.3em;		/* added for FF */
}

.xform_repeat_label {
	vertical-align:top;
	padding-top:3px;
}

.xform_repeat_label,
.xform_label,
.xform_label_left {
	text-align:right;
}

.xform_label_right {
	text-align:left;
}

.xform_separator {
	width:100%;
	height:1px;
	@BottomSeparator@
}

.xform_button {
	@Button@
}

.xform_button_default {
	@Button-default@
}



/* "small" button grid */

.xform_button_grid_small {}
.xform_button_grid_small_table {
	@CompactTable@
}
.xform_button_grid_small_table TD {
	padding:0px;
}

.xform_button_grid_small_button {
	width:12px;				/* ??? SIZE */
	height:12px;
	padding:3px;
	margin:1px;
	@Button@

}
.xform_button_grid_small_button_selected {
	width:12px;				/* ??? SIZE */
	height:12px;
	padding:3px;
	margin:1px;
	@ButtonBorder-active@
}



/* "medium" button grid */

.xform_button_grid_medium {}
.xform_button_grid_medium_table {
	@CompactTable@
}
.xform_button_grid_medium_table TD {
	padding:2;
}
.xform_button_grid_medium_button {
	width:40px;
	@Button@
}
.xform_button_grid_medium_button_selected {
	width:40px;
	@Button-active@
}

.XFormCase, .xform_container {
	overflow-x:auto;
	overflow-y:auto;
}

.xform_override_btn_contaier {
	float:right;	
}
.XFormCase {
	position:absolute;
}

.DwtDialog .XFormCase {
	position:relative;
	overflow:visible;
}

/* Groupers -- the xforms way of doing fieldSets... */
.GrouperBorder,
.RadioGrouperBorder,
.TopGrouperBorder {
	@FieldSet@
}

.TopGrouperBorder {
	@FieldSet@
	border-left:none;
	border-right:none;
	border-bottom:none;
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:0px;
}

.LowPaddedTopGrouperBorder {
	@FieldSet@
	border-left:none;
	border-right:none;
	border-bottom:none;
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:10px;
}
.SmallRadioGrouperLabel,
.GrouperLabel,
.RadioGrouperLabel {
	@PageBg@
	@TextPadding@
	@Label@
	display:inline;
	position:relative;
	top:-17px;			/* equals top-margin + top-padding of GrouperBorder */
}

.GrouperLabel,
.RadioGrouperLabel {
	left:0px; 			/* insets label equal to GrouperBorder left-padding */
}
.GrouperLabel {
	@FontSize-big@
	font-weight:bold;
}

.GrouperInset {
	overflow:visible;
}

.RadioGrouperInset {

}

.RadioGrouperBorder {
	margin-bottom:2px;
}

.RadioGrouperLabel {
	margin-left:@BoxMarginSize@;
	@FontSize-big@
}



.PlainGrouperBorder {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:none;

	margin-top:20px;
	margin-bottom:0px;

	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.SmallRadioGrouperLabel {
	@FontSize-normal@
	@FieldSetLabel@
	left:-3;
	overflow:visible;
}

/*
 * OSelect FormItem Widget -- similar in funcionality to the DwtSelect, but quick to recalculate itself
 */

/* outer container */
.oselect, .oselect_check {
	@SelectBorder@
	@SelectBorder-normal@
	@ActiveCursor@
}

.dynselect {
	@SelectBorder@
	@ActiveCursor@
}
/* table that acts as the button -- ??? put "select" style on "oselect" container */
.oselect_table,
.oselect_check_table {
	@CompactTable@

}
.dynselect TD,
.dynselect_table,
.oselect TD,
.oselect_table TD,
.oselect_check_table TD {
	padding:0px;
}

.oselect_table_disabled {
	@CompactTable@
	@SelectText-disabled@
	@SelectBorder-disabled@
}


/* text displaying what's actually selected */
.dynselect_dysplay,
.oselect_display {
	@SelectText@
	@TextPadding@
	border-style:none;
}
.dynselect_display_disabled,
.oselect_display_disabled {
	@SelectText-disabled@
	@TextPadding@
}

.dynselect_display_empty,
.oselect_display_empty {
	@SelectText-empty@
	@TextPadding@
}

/* Container of the menu of items for the oselect widget */
.dynselect_note,
.oselect_note {
	@MenuContainer@
	@NoticeText@
	@NoticeContainer-info@	
	position:absolute;
	z-index:10000000000;
	border-bottom-width:1px;
	border-right-width:1px;
}
.dynselect_error_note,
.oselect_error_note {
	@MenuContainer@
	@Text-error@
	@NoticeContainer-warning@
	border-bottom-width:1px;
	border-right-width:1px;
	position:absolute;
	white-space:nowrap;
	z-index:10000000000;
}

.dynselect_menu,
.oselect_menu {
	@MenuContainer@
	position:absolute;
	z-index:10000000000;
	border-bottom-width:1px;
	border-right-width:1px;
}
.dynselect_choice_table,
.oselect_choice_table,
.oselect_check_choice_table {
	@CompactTable@
	/* ???
	border-collapse:collapse;
	border:1px solid;
	border-color:#CCCCCC black black #CCCCCC;
	*/
}


/* ??? USE */
.dynselect_choice_table_scrolled,
.oselect_choice_table_scrolled {
	@CompactTable@
	/* ???
		border-left:1px solid #CCCCCC;
		border-top:0px;
		border-right:0px;
		border-bottom:1px solid black;
	*/
}

/* single menu item */
.dynselect_choice,
.oselect_choice {
	@MenuItem@
	@MenuItemText@
	@MenuItemText-normal@
	@MenuItemBorder-normal@
}
.dynselect_choice_selected,
.oselect_choice_selected {
	@MenuItem@
	@MenuItemBorder-hover@
	@MenuItemText-hover@
}

.oselect_check_choice {
	@Text@
	@AppBg@
	padding:4px;					/* ??? SIZE */
}
.oselect_check_choice_selected {
	@SelectedBg@
	padding:4px;					/* ??? SIZE */
}

.xform_error {
	@Text-error@
}



/*
 * DwtChooser -- pair of list viewers with buttons to add from one to the other
 */

/* ??? NECESSARY ? */
.DwtChooserListView {
	@ListBg@	@ListBorder@
	@BoxMargin@
}

.DwtChooserTextField {
	margin-left:5px;
}

/*
 * DwtShellBusyDialog - dialog that comes up when the server is taking a long time to respond
 */

.DwtShellBusyDialog TABLE.DialogContent {
	width:300px;			/* ??? SIZE */
	height:75px;
}

.DwtShellBusyDialog .WaitIcon,
.DwtWait64Icon {
	background-image:url("@SkinAnimatedImgDir@/Imgwait_64.gif?v=@jsVersion@");
	width:64px;
	height:64px;
}

.DwtWait16Icon {
	background-image:url("@SkinAnimatedImgDir@/Imgwait_16.gif?v=@jsVersion@");
	width:16px;
	height:16px;
}

.DwtWait32Icon {
	background-image:url("@SkinAnimatedImgDir@/Imgwait_32.gif?v=@jsVersion@");
	width:32px;
	height:32px;
}

.DwtShellBusyDialog TABLE TD.MsgText {
	@FontSize-big@
	@BoxPadding@
	min-width:20rem;
	vertical-align:top;
	white-space:normal;
}


/* DwtGridSizePicker */

.DwtGridSizePicker TABLE {
	border-collapse:collapse;
	@NotSelectable@
	@SeparatorBorder@
	@InactiveCursor@
}
.DwtGridSizePicker TABLE TR.info TD {
	text-align:center; padding:1px 0px;
}
.DwtGridSizePicker TABLE TR.grid TD {
	@SeparatorBorder@
	width:16px;
	height:16px;
	font-size:16px;
	line-height:16px;
	padding:0px;
	@AppBg@
}
.DwtGridSizePicker TABLE TR.grid TD.Hovered {
	@SelectedBg@
}

/* DwtSpinner */

.DwtSpinner { border:1px solid black;
	@InputField@
	padding:0px; margin:0px;
	background-color:white;
}
.DwtSpinner TD { padding:0px; margin:0px; }
.DwtSpinner-inputCell INPUT[type='text'],
.DwtSpinner-inputCell INPUT[type='text'] {
	margin:0px; border:none; padding:1px 2px; text-align:right;
}

.DwtSpinner-UpBtn, .DwtSpinner-DownBtn {
	width:11px;
	font-size:1px;
	line-height:1px;
	@NotSelectable@
	border-left:1px solid black;
	text-align:center;
	background-color:#EEE;
	cursor:default;
	vertical-align:middle;
	height:10px;
}

.DwtSpinner-UpBtn div, .DwtSpinner-DownBtn div { margin-left:auto; margin-right:auto; vertical-align:middle; }

.DwtSpinner-Up-pressed { background-color:#A6CCCC; }
.DwtSpinner-Down-pressed { background-color:#A6CCCC; }
.DwtSpinner-Up-disabled { background-color:#EEE; }
.DwtSpinner-Down-disabled { background-color:#EEE; }

.DwtSpinner-disabled .DwtSpinner-UpBtn,
.DwtSpinner-disabled .DwtSpinner-DownBtn {
	@Icon-disabled@
}


/* DwtButtonColorPicker styles */

.DwtButtonColorPicker-display {
	width:14px;
	height:14px;
	@FixIESizeQuirk@
	@NotSelectable@
	border:1px solid;
	border-color:black white white black;
}

.DwtMessageComposite TABLE {
	/*
		This is causing a wierd black border around the source button in the search toolbar
		border-collapse: collapse;
	*/
}
.DwtCompositeCell {
	padding:0px 2px 0px 2px;
}

.DwtCheckbox {
	@DisplayInlineBlock@
}

.DwtCheckbox.ZFocused, .DwtRadioButton.ZFocused {
	@FocusOutline@
}

.ZButton:focus,
.ZSelectAutoSizingContainer:focus,
.ZToolbarButton:focus,
.ZSelect:focus,
.ZFocused.DwtCheckbox INPUT:focus,
.ZFocused.DwtRadioButton INPUT:focus {
	outline: none;
}


/* Portlet panel:  sizes are hard-coded */

.ZPanelTitlebar		{	position:absolute; width:100%; height:20px; top:-1px; }
.ZPanelIcon			{	width:0px; }
.ZPanelTitle		{	width:100%;	padding:1px 0px 0px 4px; }
.ZPanelToolbar		{	width:0px;	padding:1px 10px 0px 6px; }

.ZPanelIcon  DIV	{	margin-left:5px;}

.ZPanelContents		{	position:absolute;	overflow:auto;
						left:4px; top:22px; right:4px; bottom:4px;
					}

/* Drag selection box (rubber-band style DnD selection) */
.dndSelectionBox {
	border:1px black dotted;
}

/* New widget template styles */

/* classes for different states */

.ZHover		{}							/* == mouseOver */
.ZActive	{}							/* == mouseDown */
.ZSelected	{}							/* == 'selected' like a tab that's selected, or a button that stays down */
.ZDisabled	{	@DisabledCursor@	}	/* == not operational */
.ZFocused 	{}							/* == has keyboard focus */
.ZError		{}							/* == fields in error state */
.ZRequired	{}							/* == fields in required state (when in a new form, not an error yet) */
.ZHint		{}							/* == fields in 'hint' state (helper text that shows before value put in) */

/* generics for all widgets */

/* make all widgets do same box model as IE */
.ZWidget, .ZWidget *			{ 	@FixBoxModel@	}

.ZWidgetTable					{	width:100%;	height:100%;}

.ZWidgetIcon					{	width:0px;	height:@SmallIconHeight@; overflow:hidden;}
.ZDisabled .ZWidgetIcon DIV		{ 	@Icon-disabled@	}
.ZWidgetIcon IMG				{	display: block; }

.ZWidgetTitle					{ 	height:@SmallIconHeight@;	width:100%;	white-space:nowrap;	overflow: hidden; }
.ZDisabled .ZWidgetTitle		{ 	@Text-disabled@	}

.ZCenterTitle .ZWidgetTitle		{	text-align:center;  vertical-align:middle;	}

.ZDisabled .ZDropDown			{	@Text-disabled@ }

.ZWidgetTable DIV				{	}
.ZHasText .ZWidgetTitle			{	padding:0px 4px;	}

#IFDEF MSIE_LOWER_THAN_9
.ZWidgetTable .ZLeftIcon .IEImage DIV, .ZWidgetTable .ZLeftIcon .IEImage IMG {
	margin:0px !important;
}
.ZHasIcon .ZMenuItemBorder .ZLeftIcon .IEImageMask IMG {
	width:auto; height:auto;
}
#ENDIF

.ZWidgetTable .ZLeftIcon DIV, .ZWidgetTable .ZLeftIcon IMG		{	margin:1px 0px;			}
.ZWidgetTable .ZRightIcon DIV, .ZWidgetTable .ZRightIcon IMG	{	margin:1px 0px;			}
.ZWidgetTable .ZDropDown DIV, .ZWidgetTable .ZDropDown IMG		{	margin:1px 0px;			}

.ZHasText .ZLeftIcon DIV, .ZHasText .ZLeftIcon IMG				{	margin-right:0px !important;	}
.ZHasText .ZRightIcon DIV, .ZHasText .ZRightIcon IMG			{	margin-left:0px !important;		}
.ZHasText .ZDropDown DIV										{	margin-left:0px !important;		}

.DwtDragProxy .ZWidgetTitle		{ width:auto; }
.DwtDragProxy .ZWidgetTable 	{ width:auto; }




/***************
 *
 *	ZButton	-- normal "pop-out" buttons, like in a dialog
 *
 ***************/

.ZButton									{	@Button@		@ButtonSpacing@			}

			.ZButtonBorder					{	@ButtonBorder@	@ButtonBorder-normal@	}
.ZHover		.ZButtonBorder					{					@ButtonBorder-hover@	}
.ZDisabled	.ZButtonBorder					{					@ButtonBorder-disabled@ }
.ZFocused	.ZButtonBorder					{					@ButtonBorder-focused@	}
.ZActive	.ZButtonBorder					{					@ButtonBorder-active@	}
.ZSelected	.ZButtonBorder					{					@ButtonBorder-selected@	}

			.ZButtonTable .ZWidgetTitle		{	@ButtonText@ 	@ButtonText-normal@		}
.ZHover		.ZButtonTable .ZWidgetTitle		{					@ButtonText-hover@		}
.ZDisabled	.ZButtonTable .ZWidgetTitle		{					@ButtonText-disabled@ 	}
.ZFocused	.ZButtonTable .ZWidgetTitle		{					@ButtonText-focused@	}
.ZActive	.ZButtonTable .ZWidgetTitle		{					@ButtonText-active@		}
.ZSelected	.ZButtonTable .ZWidgetTitle		{					@ButtonText-selected@	}

.ZToolbarButtonBorder, .ZButtonBorder {
    border-collapse: separate;
}

.ZButtonTable .ZLeftIcon DIV,
.ZButtonTable .ZLeftIcon IMG {
	margin:1px 0px 1px 4px;
	margin:.2rem 0px .1rem 4px;
}
.ZButtonTable .ZRightIcon DIV,
.ZButtonTable .ZRightIcon IMG {
	margin:1px 4px 1px 0px;
	margin:.2rem 4px .1rem 0px;
}
.ZButtonTable .ZDropDown DIV,
.ZButtonTable .ZDropDown IMG {
	margin:1px 4px 1px 0px;
	margin:.2rem 4px .1rem 0px;
}

#skin_container_help .ZButtonLink,
.ZImageOnlyButton {
	cursor:pointer;
}


/* normal buttons with text should be at least a certain width */
.ZHasText .ZButtonTable 			{	@TextButtonWidth@ }

.ZButtonBorder .ZDropDown DIV		{	margin-left:3px;	}

.ZButtonBorderless					{	}		/* TODO: ??? */


/***************
 *
 *	TOOLBARS
 *
 ***************/

.ZmMailMsgView .ZToolbar	{ @ToolbarContainer@	}

.ZToolbarTable				{ /*width:100%;*/ }
.ZToolbarPrefix				{ width:.5em; }
.ZToolbarSuffix				{ width:100%; }

.ZToolbarSeparator			{ width:0.5em; @SeparatorBorder@ }
.ZToolbarSpacer				{ width:0.5em; }
.ZToolbarFiller				{ width:100%; }
.ZToolbarFiller > *			{ display: inline-block; }


/***************
 *
 *	ZToolbarButton	-- more subtle buttons, inside toolbars
 *
 ***************/

.ZToolbarButton									{	@ToolbarButton@			@ToolbarButtonSpacing@			}
.ZToolbarButtonBorder							{	@ToolbarButtonBorder@	@ToolbarButtonBorder-normal@	}
.ZHover		.ZToolbarButtonBorder				{							@ToolbarButtonBorder-hover@		}
.ZDisabled	.ZToolbarButtonBorder				{							@ToolbarButtonBorder-disabled@	}
.ZFocused	.ZToolbarButtonBorder				{							@ToolbarButtonBorder-focused@	}
.ZActive	.ZToolbarButtonBorder				{							@ToolbarButtonBorder-active@	}
.ZSelected	.ZToolbarButtonBorder				{							@ToolbarButtonBorder-selected@	}

			.ZToolbarButtonTable .ZWidgetTitle	{	@ToolbarButtonText@ 	@ToolbarButtonText-normal@		}
.ZHover		.ZToolbarButtonTable .ZWidgetTitle	{							@ToolbarButtonText-hover@		}
.ZDisabled	.ZToolbarButtonTable .ZWidgetTitle	{							@ToolbarButtonText-disabled@ 	}
.ZFocused	.ZToolbarButtonTable .ZWidgetTitle	{							@ToolbarButtonText-focused@		}
.ZActive	.ZToolbarButtonTable .ZWidgetTitle	{							@ToolbarButtonText-active@		}
.ZSelected	.ZToolbarButtonTable .ZWidgetTitle	{							@ToolbarButtonText-selected@	}


/***************
 *
 *	SELECTS
 *
 ***************/

.ZSelectAutoSizingContainer					{	height:22px; height:2rem; width:auto;	}		/* TODO: SIZE ASSUMPTION! */

.ZSelect									{	@Select@		@SelectSpacing@			}
.ZSelect .ZWidgetTitle						{	padding-left:5px; text-align:left;		}

			.ZSelectBorder					{	@SelectBorder@	@SelectBorder-normal@	}
.ZHover		.ZSelectBorder					{					@SelectBorder-hover@	}
.ZDisabled	.ZSelectBorder					{					@SelectBorder-disabled@ }
.ZFocused	.ZSelectBorder					{					@SelectBorder-focused@	}
.ZActive	.ZSelectBorder					{					@SelectBorder-active@	}
.ZSelected	.ZSelectBorder					{					@SelectBorder-selected@	}

			.ZSelectTable .ZWidgetTitle		{	@SelectText@ 	@SelectText-normal@		}
.ZHover		.ZSelectTable .ZWidgetTitle		{					@SelectText-hover@		}
.ZDisabled	.ZSelectTable .ZWidgetTitle		{					@SelectText-disabled@ 	}
.ZFocused	.ZSelectTable .ZWidgetTitle		{					@SelectText-focused@	}
.ZActive	.ZSelectTable .ZWidgetTitle		{					@SelectText-active@		}
.ZSelected	.ZSelectTable .ZWidgetTitle		{					@SelectText-selected@	}



.ZSelectPseudoItem							{	padding:0px 17px 6px; visibility:hidden;	}


/***************
 *
 *	TABS
 *
 ***************/


.ZTabBar								{	@TabBar@				}
.ZTabBarPrefix							{ 	@TabBarPrefix@ 			}
.ZTabBarSuffix							{ 	@TabBarSuffix@ 			}
.ZTabBarTable							{ 	width:auto; 			}

.ZTab									{	@Tab@	@TabSpacing@	}

			.ZTabBorder					{	@TabBorder@	@TabBorder-normal@		}
.ZHover		.ZTabBorder					{				@TabBorder-hover@		}
.ZDisabled	.ZTabBorder					{				@TabBorder-disabled@ 	}
.ZFocused	.ZTabBorder					{				@TabBorder-focused@		}
.ZActive	.ZTabBorder					{				@TabBorder-active@		}
.ZSelected	.ZTabBorder					{				@TabBorder-selected@ 	}

			.ZTabTable .ZWidgetTitle	{	@TabText@ 	@TabText-normal@		}
.ZHover		.ZTabTable .ZWidgetTitle	{				@TabText-hover@			}
.ZDisabled	.ZTabTable .ZWidgetTitle	{				@TabText-disabled@ 		}
.ZFocused	.ZTabTable .ZWidgetTitle	{				@TabText-focused@		}
.ZActive	.ZTabTable .ZWidgetTitle	{				@TabText-active@		}
.ZSelected	.ZTabTable .ZWidgetTitle	{				@TabText-selected@		}


#IFDEF MSIE
.ZTabBar	.ZSelected					{	@PanelBg@	}
.ZTabBar	.ZHover						{	background:@Darken(TabColor,20)@;	}
#ENDIF

/***************
 *
 *	COMBO BOX
 *
 ***************/

.DwtComboBox {
/*	@ZFieldBg-normal@
	@FieldBorder@
	height:24px;
	padding-right:2px;	*/
}

.DwtComboBox .DwtInputField INPUT[type='text'],
.DwtComboBox .DwtInputField INPUT[type='password'] {
	
}

.DwtComboBox .ZButton					{	width:20px; @WidgetHeight@	}
.DwtComboBox .ImgSelectPullDownArrow	{	margin-right:5px;			}





/***************
 *
 *	FIELDS
 *
 ***************/

.ZField							{	@WidgetHeight@	}	/* USED? */
.ZFieldBorder					{					}	/* USED? */


			.ZFieldInput		{	width:100%; height:100%;
									@InputField@	@InputField-normal@		}
.ZFocused	.ZFieldInput		{					@InputField-focused@	}
.ZError		.ZFieldInput		{ 					@InputField-error@		}
.ZRequired	.ZFieldInput		{ 					@InputField-required@	}
.ZDisabled	.ZFieldInput		{ 					@InputField-disabled@	}
.ZHint		.ZFieldInput		{ 					@InputField-hint@		}




/***************
 *
 *	ListViewer -- OWEN TODO!!!!
 *
 ***************/

/* MOW NOTE: THIS DOESN'T SEEM TO BE USED!
.ZListViewer				{	width:100%;	table-layout:fixed;
								background-color:white;
								padding-bottom:40px;
								border:1px solid #666666;
							}

.ZListViewer .ZFirstRow	TD	{	border-top:1px solid #666666;	}

.ZListViewer TH				{	height:17; text-align:left;
								padding-left:3;
								border-left:1px solid #666666;
								border-right:1px solid white;
								color:#666666;
								background-position:0px -1px;
							}
.ZListViewer TH.ZFirstItem	{	border-left-width:0px;	}

.ZListViewerCell			{
								height:20px;
								padding:0px 1px 2px 4px;
							}

.ZListViewerCell DIV		{	width:100%; overflow:hidden; white-space:nowrap;	}

.ZOddRow .ZListViewerCell	{	background-color:#eeeeee;	}



.ZListViewer .ZFocused .ZListViewerCell
							{	background-color:#d0daf9;
							}
*/




/***************
 *
 *	PANEL -- OWEN TODO!!!!
 *
 *  sizing the pieces of the panel -- sizes are hard-coded
 *
 ***************/


/* MOW NOTE: THIS DOESN'T SEEM TO BE USED!

.ZPanelTitlebar		{	position:absolute; width:100%; height:20px; top:-1px;}
.ZPanelIcon			{	width:0px;	}
.ZPanelTitle		{	width:100%;	padding:1px 0px 0px 4px;	}
.ZPanelToolbar		{	width:0px;	padding:1px 10px 0px 6px; 	}

.ZPanelIcon DIV		{	margin-left:5px;}

.ZPanelContents		{	left:4px;top:22px;right:4px;bottom:4px;			overflow:auto;		}
*/




/***************
 *
 *	OUTSET -- tooltips, etc -- OWEN TODO!!!!
 *
 ***************/

/* MOW NOTE: THIS DOESN'T SEEM TO BE USED!
.ZOutsetContents		{	position:absolute;	overflow:auto;
							left:4px; top:22px; right:4px; bottom:4px;
						}

.ImgOutset_bg		{	background-color:white;	}

*/



/***************
 *
 *	SASH -- OWEN TODO!!!!
 *
 ***************/


/* MOW NOTE: THIS DOESN'T SEEM TO BE USED!

.ZHSash						{	cursor:move; 	}

*/








/*************
 *
 *	DwtSliders
 *
 *************/

.DwtSlider {		/* TODO: IS THIS ACTUALLY USED BY ITSELF? */
	@Slider@
	@HSliderBorder@
}

.DwtSliderThumb {
	position:relative;
}

/* DwtHorizontalSlider */

.DwtHorizontalSlider {
	@Slider@
	@HSliderBorder@
	@HSliderSize@
}

.DwtHorizontalSlider .DwtSliderThumb {
	@HSliderThumbSize@
}

.DwtHorizontalSlider .DwtSliderThumbBorder {
	@HSliderThumbBorder@
}

/* DwtVerticalSlider */

.DwtVerticalSlider {
	@Slider@
	@VSliderBorder@
	@VSliderSize@
}

.DwtVerticalSlider .DwtSliderThumb {
	@VSliderThumbSize@
}

.DwtVerticalSlider .DwtSliderThumbBorder {
	@VSliderThumbBorder@
}




/***************
 *
 *	ZMenu	-- outer class for menus
 *
 ***************/

.DwtMenu,
.ActionMenu,
.DwtSelectMenu,
.ZMenu					 {		@Menu@		}


/***************
 *
 *	ZMenuItem	- individual menu items
 *
 ***************/
.ZMenuItemTable {}
.ZMenuItem									{	@MenuItem@						 				}

			.ZMenuItemBorder				{	@MenuItemBorder@ 	@MenuItemBorder-normal@		}
.ZHover		.ZMenuItemBorder				{						@MenuItemBorder-hover@		}
.ZActive	.ZMenuItemBorder				{						@MenuItemBorder-active@		}
.ZDisabled	.ZMenuItemBorder				{						@MenuItemBorder-disabled@ 	}
.ZFocused	.ZMenuItemBorder				{						@MenuItemBorder-focused@	}
.ZSelected	.ZMenuItemBorder				{						@MenuItemBorder-selected@	}

			.ZMenuItemTable .ZWidgetTitle	{	@MenuItemText@ 		@MenuItemText-normal@		}
.ZHover		.ZMenuItemTable .ZWidgetTitle	{						@MenuItemText-hover@		}
.ZDisabled	.ZMenuItemTable .ZWidgetTitle	{						@MenuItemText-disabled@ 	}
.ZFocused	.ZMenuItemTable .ZWidgetTitle	{						@MenuItemText-focused@		}
.ZActive	.ZMenuItemTable .ZWidgetTitle	{						@MenuItemText-active@		}
.ZSelected	.ZMenuItemTable .ZWidgetTitle	{						@MenuItemText-selected@		}


/* if any item in the menu has a check, icon or submenu,
	make the shim div in all items have the proper width
	so things line up properly
*/
.ZHasIcon .ZMenuItemBorder .ZLeftIcon DIV, .ZHasIcon .ZMenuItemBorder .ZLeftIcon IMG 		{	width:16px; height:16px; }
.ZHasCheck .ZMenuItemBorder .ZCheckIcon DIV, .ZHasCheck .ZMenuItemBorder .ZCheckIcon IMG 	{	width:9px;	height:9px; }
.ZHasSubmenu .ZMenuItemBorder .ZDropDown DIV, .ZHasSubmenu .ZMenuItemBorder .ZDropDown IMG 	{	width:16px;	height:16px; }


.ZMenuItem-Separator							{	@MenuItemSeparator@			}
.ZMenuItemSeparatorBorder TD					{	height:12px !important;		}

.ZHasIcon .ZMenuItemSeparatorBorder .ZLeftIcon DIV, .ZHasIcon .ZMenuItemSeparatorBorder .ZLeftIcon IMG,
.ZHasCheck .ZMenuItemSeparatorBorder .ZCheckIcon DIV, .ZHasCheck .ZMenuItemSeparatorBorder .ZCheckIcon IMG,
.ZHasSubmenu .ZMenuItemSeparatorBorder .ZDropDown DIV 		{	height:1px !important; }



/************
 *
 *	ZWizard -- wizard dialog (like in offline)
 *
 ************/


.ZWizardPage {
	display:none;
	@LightWindowOuterBorder@
	@WizardBg@
	margin:40px 20% 20px 20%;
	padding:20px;
}

.ZWizardPage BUTTON {
	@Button@
}

.ZWizardPage BUTTON:active {
	@Button-hover@
}

.ZWizardPageTitle {
	position:relative;
	@ToolbarBg@
	left:0px;
	right:0px;
	padding:5px 10px 5px 10px;
	margin:-20px -20px 10px -20px;
	@FontSize-bigger@
}

.ZWizardPageNumber {
	float:right;
}

.ZWizardHeader {
	font-weight:bold;
}
.ZWizardNotice{
	display:none;
	@WarningContainer@
	@FontSize-smaller@
	padding:@PanelPaddingSize@;
	margin:20px;
}
.ZWizardNoticeHeader {
	font-weight:bold;
}
.ZWizardForm{
	margin:10px 10px 10px 40px;
}
.ZWizardButtonBar{
	margin:10px -20px -20px -20px;
	padding:5px 10px 5px 10px;
	@ToolbarBg@
}
.ZWizardButton			{}
.ZWizardButtonSpacer	{	width:100%; }
.ZWizardButtonRef		{	font-weight:bold;	}


/* TODO: move us */
.ZRadioLabel			{	@ActiveCursor@	}
.ZRadioLabelDisabled	{	@Text-disabled@ }

.ZTreeItemCheckboxCell {
	width:16px;
	height:16px;
}

.ZTreeItemCheckbox {
	background-color:white;
	border-color:#363636 #B8B8B8 #B8B8B8 #363636;
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	margin-right:2px;
#IFDEF MSIE
	height:14px;
	width:14px;
#ELSE
	height:12px;
	width:12px;
#ENDIF
}

.ZTreeItemCheckboxImg {
	padding-left:2px;
	padding-top:2px;
#IFDEF MSIE
	height:12px;
	width:12px;
#ELSE
	height:10px;
	width:10px;
#ENDIF
}

.DwtFormRowAdd .ZButtonBorder,
.DwtFormRowRemove .ZButtonBorder {
	background-color:transparent;
	background-image:none;
	/* just make it transparent, so we retain the spacing for a focus border */
	border-color: transparent;
	@cssShadow@:0px 0px 0px transparent;
	@roundCorners(0px)@
}

.DwtFormRowAdd.ZFocused .ZButtonBorder,
.DwtFormRowRemove.ZFocused .ZButtonBorder {
	@FocusBorder@
}
