/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2008, 2009, 2010, 2011, 2012, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
body {
    font-family: Helvetica;
    font-size: medium;
    -webkit-text-size-adjust: none;
    padding: 0px;
    margin: 0px;
}

pre{ @WordWrapPRE@ }

a {
    color: #0066cc;
    text-decoration: none;
}
.container {
    background: white;
}
.label {
    color: gray;
}
.dlist .list-row .td, .dlist .list-row-unread .td{
    border-bottom: 1px solid #DDD;
}
.list-row, .list-row-unread{
    padding: 3px;
    background: #fafafa;
    border-bottom: 1px solid #DDD;
}
.list-row-unread {
    font-weight: bold;
    background: white; /*#f9fcff;*/
}
.small-gray-text {
    color: #888888;
    font-size: small;
}
.list-row-unread .small-gray-text,.Email a {
    color: #666666;
    font-weight:normal;
}
.list-row-unread .l{
	font-weight: normal;
}
.from-span a {
    color: black;
}
.ConvOpen{
    background-position: 0 -326px !important;
}
.zo_m_cv_sub {
    padding: 7px;
    padding-left: 12px;
    background: #e8ebef;
    color: darkblue;
}
.Stripes {
    background: #c5ccd8;
    background: -webkit-gradient(linear, left top, right top, from(#c5ccd4), to(#cbd2d8));
    margin: 0px;
    padding: 4px;
    background-image:url("@AppContextPath@/img/mobile/iphone/pinstripes.png?v=@jsVersion@");
}
.left {
    float: left;
    padding-left: 4px;
}
.right {
    float: right;
    padding-right:4px;
}
.aleft {
    text-align:left !important;
    padding-left: 5px;
}
.aright {
    text-align:right !important;
    padding-right:5px;
}
#appbar {
    background-color: #88929f;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#000000), color-stop(0.5, #555555),color-stop(0.5, #222222) );
    height: 48px;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    color: white;
    border-bottom:0px solid gray;
    background-position:0px -1px;
}
#appbar,.delete_button,.tb,.searchButton, input[type="submit"], input.submit,.zo_select_button,.zo_button,.zo_button_disabled, .zo_button_group, input[type="button"], input[type="reset"],.searchButton {
    background: url("@AppContextPath@/img/mobile/iphone-ext/common2.gif?v=@jsVersion@") repeat-x;
    -webkit-user-select: none;
}
span.nstd {padding: 0px;margin: 0px;display: none;}
#appbar a {
    width: 55px;
    height: 48px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: small;
    color: white;
    vertical-align: bottom;
    display: inline-block;
}
.aptoday {
    color:#888888;
    display:inline !important;
    font-size:smaller;
    font-weight:bold;
}
.aptoday div {
    margin:0px;
    padding:1px;
    text-align:center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.aptoday div._day {
    font-weight:bold;
    padding-top:34px;
    font-size: 10px;
    left:-3px;
    position:relative;
}
.aptoday div._date {
    font-size:15px;
    left:-2px;
    position:relative;
    top:-36px;
}
.aptoday div._month {
    display:none;
}

.apunread {
    text-align:center;
    color:#888888;
    display:inline !important;
    font-size:10px;
    font-weight:bold;
    left:0;
    position:relative;
    top:34px;
    white-space:normal;
    width:55px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.appTab,.appTab-active{
    background: url("@AppContextPath@/img/mobile/iphone-ext/AppsNav.png?v=@jsVersion@") no-repeat top left;
}
a.cal-active { background-position: 50% -1px !important; }
a.cal { background-position: 50% -50px !important; }
a.contact-active { background-position: 50% -99px !important; }
a.contact { background-position: 50% -148px !important; }
a.docs-active { background-position: 50% -197px !important; }
a.docs { background-position: 50% -246px !important; }
a.mail-active { background-position: 50% -295px !important; }
a.mail { background-position: 50% -344px !important; }
a.search-active { background-position: 50% -393px !important; }
a.search { background-position: 50% -442px !important; }
#searchbar,#savesearchbar {
    text-align: center;
    vertical-align: middle;
    padding:0px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
    background: #EEE;
    border-bottom: 1px solid silver;
}
form {
    padding: 0px;
    margin: 0px;
}
#nsrchfrm, #nfldrfrm, #ntagfrm{
    margin:2px;
    width:98%;
}
.View {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: white;
    margin: 2px;
    border: 1px solid #a7b2bc;
    padding: 4px; /* font-size:medium;*/
	overflow: visible;
}
.tb, .stb {
    background-color: #EEE;
    border-bottom:1px solid #DDD;
    height: 40px !important;
    text-align: center;
    white-space:nowrap;
}
.tb {
    background-color: #d3d2d7;
    background-position: 0px -52px;
}
#fbbar{
    position:absolute !important;
    top:40px !important;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    z-index:100 !important;
    border-bottom:2px solid silver;
}
.StatusInfo, .StatusWarning, .StatusCritical, .zo_noresults {
    padding: 10px 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    font-size: small;
}
.zo_noresults {
    height: 200px;
    text-align: center;
}
.StatusInfo {
    background-color: lightgreen !important;
}
.StatusWarning {
    background-color: yellow !important;
}
.StatusCritical {
    background-color: red !important;
}
.sih{width:99%;}
.searchInput {
    height:21px;
    vertical-align:middle;
    width:99%;
    max-width:99%;
    font-size:medium;
}
.cmp_container .td, .cmp_appt_container .td {
    text-align: left;
}
.zo_button_group {
    margin:0px 3px;
} 
.sectionLbl{
    padding:15px 4px 3px 10px;text-shadow: 0px 1px 0px #fff;color:#4d5466;font-weight:bold;font-size:16px;
}
.label{
    color:#232323;
    font-weight:bold;
    font-size:14px;
    width: 200px; 
}
.value input[type="text"],.value textarea,.value select{
    -webkit-border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px #FFFFFF;
    -webkit-appearance: none;
    background:transparent;
    border:0px;
    color:#4b5878;
    font-size:14px;
    overflow:auto;
}

#timeZone{
	width: 100% !important;
}

.searchButton, input[type="submit"], input.submit,input[type="reset"],input[type="button"] {
    background-color: #2e69e0;
    background-position: 0px -129px;
    background-repeat:repeat-x;
    -webkit-border-radius: 5px;
    padding:0px 3px !important;
    height:30px;
}
.cLeft{
    -webkit-transition: none;
    left:-100%;
}
.hiddenFrame{
    z-index:-9999;
    position:absolute;
    left:-9999px;
    top:-9999px;
    width:0px;
    height:0px;
}
.cTop{
    -webkit-transition: none;
    top:-480px;
}
.cShow{
    position:relative;
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 350ms, 250ms;
    left:0%;
    top:0%;
}
.cRight{
    -webkit-transition: none;
    left:100%;
}
.cBottom{
    -webkit-transition: none;
    top:480px;
}
#delBtn{
    -webkit-transition: all 200ms linear;
    position:absolute;
    margin-top:6px;
    visibility:hidden;
}
.delBtnV{
    right:8px !important;
    margin-left:6px;
    z-index:1000 !important;
    visibility:visible !important;
    overflow:visible !important;
}
.persp{
    -webkit-perspective: 600;
}
.card
{
	-webkit-transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1.25s;
    -webkit-backface-visibility: hidden;
}
.flipped,.back
{
	-webkit-transform: rotateY(180deg);
}
.loadingDiv{
    -webkit-transition: opacity 250ms linear;
    position:absolute;
    top:48px;
    width:98%;
    background-color:#ffffd0;
    z-index:1000;
}
.hidden {
    opacity: 0.0 !important;
    display:none;
}

.shown {
    padding:8px 1%;
    opacity: 1.0 !important;
    display:block;
}
.Reply {
    background-position: 0 -20px !important;
}
.ReplyAll{
    background-position: 0 -236px !important;
}
.Forward{
    background-position: 0 -254px !important;
}
.Check{
    background-position: 0 -272px !important;
}
.Question{
    background-position: 0 -2px !important;
}
.Cancel{
    background-position: 0 -56px !important;
}
.Msg {
    background-position: 0 -308px !important;
    left:15px;
}
.MsgGray {
    background-position: 0 -200px !important;
    left:15px;
}
.Conv {
    background-position: 0 -326px !important;
    left:15px;
}
.Contact {
    background-position: 0 -218px !important;
    left:15px;
}
.Task{
    left:15px;
}
.Person48 {
    background: url( "@AppContextPath@/img/large/ImgPerson_48.png?v=@jsVersion@" ) 90% 50% no-repeat;
    height: 50px;
    width: 50px;
    padding: 2px;
}
.ContactGroup {
    background-position: 0 -380px !important;
    left:15px;
}
.Attachment {
    background-position: 0 -362px !important;
}
.nr .td{
    border-top:1px solid #DDD;
}

.Textarea#bodyField {                
    width: 98%;
    min-height: 150px;
}
.cmp_appt_container .Textarea, .cmp_container .td .Textarea {
    height: 17px;
    width: 90%;
}
.moquery .Textarea,.moquery .sq_folder,.moquery .sq_tag,.moquery .st{
    width:92%;
}
.moquery .sq_size_comp,.moquery .sq_size_units, .moquery .sq_size{
    width:29%;
}
.moquery .td{
    padding: 4px 2px;
    border-bottom: 1px solid #EEE;
}
.cmp_appt_container .td .Textarea#start, .cmp_appt_container .td .Textarea#end {
    width: 30%;
}
.cmp_appt_container .label, .cmp_container .label,.moquery .label{
    width: 50px;
}
/*Auto Complete*/
.ZhAC {
    position: relative;
}
.ZhACB {
    font-weight: bold;
}
.ZhACCont {
    position: absolute;
    bottom: 0;
}
.ZhACCont .yui-ac-content {
    position: absolute;
    border: 1px solid #404040;
    background: #fff;
    overflow: hidden;
    z-index: 9050;
}
.ZhACCont .yui-ac-shadow {
    position: absolute;
    margin: .3em;
    background: #a0a0a0;
    z-index: 9010;
}
.ZhACCont ul {
    margin: 0;
    padding: 1px 0;
    list-style: none
}
.ZhACCont li {
    margin: 0;
    padding: 0 1px;
    cursor: default;
    white-space: nowrap;
}
.ZhACCont li.yui-ac-highlight {
@SelectedBg@
}
.ZhACCont li.yui-ac-prehighlight {
    background: #FFFFCC;
}
.ZhACCont table {
    font-size: small;
}
.ZhACTo {
    z-index: 9050;
}
.ZhACCc {
    z-index: 9040;
}
.ZhACBCc {
    z-index: 9030;
}
.prev_button, .mid_button, .next_button {
    border: 0px !important;
    margin: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    vertical-align:0% !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
}
.next_button {
    border-left: 1px solid #335787 !important;
}
select {
    height: 28px;
    vertical-align: middle !important;
}

.zo_select_button {
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: 0px;
    height: 30px;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px groove #58759d;
    text-shadow: rgba( 0, 0, 0, 0.6 ) 0px 1px 0;
    font-size:medium;
    -webkit-appearance: button;
}
.zo_select_button,.zo_button,.zo_button_disabled, .zo_button_group, input[type="button"], input[type="reset"],.searchButton{
    background-color: #58759d;
    background-position: 0px -98px;
    vertical-align:middle;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    font-size:medium;
    padding:5px 6px !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #ffffff;
    border: 1px solid #58759d;
    -webkit-box-shadow: 1px 1px 0px #eee;

}

.zo_button_disabled {
    color: silver;
}
.cont_sum_table {
    border-bottom: 1px solid #DDD;
}
.cont_view .td {
    text-align: left;
}
.fw{width:100%;}
#userinfo a{
    font-size:medium;
}
#userinfo {
    color: #999999;
    padding: 4px;
    font-size: small;
    height: 30px;
    width:100%;
    border-bottom: 1px solid #DDD;
}
#userinfo .logout-span {
    float: left;
}
#copyright_notice {
    text-align: center;
    padding: 5px;
}
.tbl {
    display: table;
    width: 100%;
    text-align:center;
}
.tr {
    display: table-row;
    text-align:center;
}
.td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top:4px;
    padding-bottom:4px;
}
.Folders {
    padding: 5px;
    height: 28px;
}
.row {
    display: block;
    min-height: 50px;
}
.chk {
    vertical-align: middle;
    height: 18px;
    width: 18px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    left:8px;
}
.from-span, .sub-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
.dlist .td{
    padding:4px;
}
.f {
    max-width: 40px;
    width: 40px;
    white-space: nowrap;
    padding-left: 10px;
    min-width:40px;
}
.l, .m {
    vertical-align: top;
    text-align:left;
}
.l {
    width: 60px;
    min-width: 60px;
    text-align: right;
    overflow:visible;
}
.m {
    width:95%;
    max-width:180px;
    overflow:hidden;
    text-overflow:ellipsis;
}
.msg-list-in-conv {
}
.msg-list-in-conv .cell {
    padding: 2px !important;
}
.msgwrap {
    word-wrap: break-word;
}
/* TODO: Do we still need these classes?
.SmlIcnHldr,.Edit {
    width: 16px;
    height: 16px;
    max-height: 16px;
    display: inline-block;
    background: url("@AppContextPath@/img/mobile/iphone-ext/common.png?v=@jsVersion@") no-repeat top left;
    vertical-align:middle;
}
.SmlDocIcnHldr {
    width: 16px;
    height: 16px;
    max-height: 16px;
    display: inline-block;
    vertical-align: -22%;
    overflow:hidden;
    left:15px;
}
*/

 .ZmThumbnailItem{
    float:left;
     width:43%;
     margin:2%;
     padding:1%;
     overflow:hidden;
     text-overflow:ellipsis;
     border:1px dotted #EEE;
     -webkit-border-radius:5px;
     -moz-border-radius: 5px;
 }
.ZmThumbnailIcon{
    border-bottom:1px solid #EEE;
    padding-bottom:8px;
}
.ZmThumbnailName{
    padding-top:8px; 
}
.zo_button1{
    padding:5px;
    border:1px outset silver;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    vertical-align:middle;
}
/* TODO: Is this still used? And have we lost any formatting going to ImgEdit class?
.Edit{
    background-color: #EEE;
    background-position:50% -409px;
    padding: 1px 3px;
    border:1px outset #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
*/
.delete_button{
    background-color: #cc0000 !important;
    background-position: 0px -160px !important;
}

.Img { display:inline-block; }
