/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
body {
    font-family: Tahoma, SegoeUI, "Lucida Grande", Helvetica, Arial, Verdana, Sans-serif;
    width: 99%;
    padding:0px;
    margin:0px;
}

pre{ @WordWrapPRE@ }

.hiddenFrame {
    z-index:-9999;
    position:absolute;
    left:-9999px;
    top:-9999px;
    width:0px;
    height:0px;
}
a {
    color: darkblue;
    text-decoration: none;

}
.hidden {
    display:none;
}

.shown {
    display:block;
}
.zo_m_list_row {
    border-bottom: 1px dotted #E0E0E0;
}

.container {
    margin: 0px;
    padding: 0px;
    border: 0px solid silver;
    background: white;
}

.Padding {
    padding: 0px;
}

.label {
    color: #4d8dc3;width:20%;float:left;
    white-space:nowrap;
}
.value {width:78%;text-align:right;}
.list-row-1, .list-row-2, .list-row-3 {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.list-first-col, .list-mid-col {
    padding: 2px;
}

.list-row, .list-row-unread {
    border-top: 1px solid #4493ba;
    padding: 2px;

    background: #eeeeff;
    color: black;
    clear:both;
}
/*.f,.m,.l {
    border-bottom:1px solid #cfe5fc;
}*/
.list-row-unread {
    font-weight: bold;
    background: white;
}

.small-gray-text {
    color: #999999;
    font-weight: normal;
    font-size: small;
}

.list-row-unread .small-gray-text, .list-row-unread .from-span a {
    /*color: #0d4055;*/
}

.from-span a {
    /*color: #0d4055; *//*white;*//**/
}

.sub-span {
    color: #666666; /*#777777;*/
}

.list-row-unread .sub-span {
    color: #000000; /*#777777;*/
}

.spacer {
    padding-left: 42px;
}

.left-icon {
    padding: 1px;
    vertical-align: bottom;
}

.zo_m_cv_sub {
    padding: 7px;
    padding-left: 22px;
    color: darkblue;
}

.Stripes {
    background: #c5ccd4;
    margin: 0px;
    padding: 2px;

}

.left {
    float: left;
    padding-left: 4px;
}
.right {
    float: right;
    padding-right:4px;
}

#appbar {
    background-color: #79aebc;
    background-position:0px -32px !important;
    height: 42px;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    color: white;
    border-bottom: 0px solid #0d4055;

}

#appbar a span {
    padding: 0px;
    margin: 0px;
    display: none;
}

#appbar a {
    height: 42px;
    padding: 0px;
    text-align: center;
    font-size: small;
    color: white;
    vertical-align: bottom;
    display: inline-block;
}
.appTab,.appTab-active{
    background: transparent url( "@AppContextPath@/img/mobile/wm6/AppsNav.gif?v=@jsVersion@" ) no-repeat top left;
}
a.appTab-active{
    background-color: #105d65 !important;
}
a#mail,a.mail,a#mail-active,a.mail-active {
    background-position: 50% -120px !important;
}
a#contact,a.contact,a#contact-active,a.contact-active {
        background-position: 50% -41px !important;
}
a#cal,a.cal,a#cal-active,a.cal-active {
    background-position: 50% 0px !important;
}

a#folders,a.folders,a#folders-active,a.folders-active {
    background-position: 50% -81px !important;
}
a#search,a.search,a#search-active,a.search-active {
    background-position: 50% -160px !important; 
}

#searchbar {
    text-align: center;
    vertical-align: middle;
    height:30px;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0px;
    background: #105d65;
    color:white;
}

form {
    padding: 0px;
    margin: 0px;
}
#nsrchfrm, #nfldrfrm, #ntagfrm{
    margin:2px;
    
}
#nsrchfrm .zo_button, #nfldrfrm .zo_button, #ntagfrm .zo_button{
    border: 1px solid #4493ba;
    color: darkblue;
}
.View {
    background-color: white;
    margin: 2px;
    border: 1px solid #4493ba;
    padding: 4px; /* font-size:medium;*/
    width:99%;
}

.Email a {
    color: #666666;
}

.tb, .stb {
    background: #0d4055; /*39a515;*/
    border-bottom: 0px solid silver;
    border-top: 0px solid silver;
    height: 31px;
    padding: 0px;
    text-align: center;
	clear: both;
    color: #abe3f2;
}

/* TODO: Do we still need these classes?
.SmlDocIcnHldr {
    width: 18px;
    height: 18px;
    max-height: 18px;
    display: inline-block;
    vertical-align: -22%;
    /*background: url("@AppContextPath@/img/doctypes.gif?v=@jsVersion@") no-repeat top left;*/
}
*/

 .ZmThumbnailItem{
    float:left;
     width:43%;
     margin:2%;
     padding:1%;
     overflow:hidden;
     text-overflow:ellipsis;
     border:1px dotted #eeeeee;
     -webkit-border-radius:5px;
     -moz-border-radius: 5px;
 }
.ZmThumbnailIcon{
    border-bottom:1px solid #eeeeee;
    padding-bottom:8px;
}
.ZmThumbnailName{
    padding-top:8px;
}
.zo_button1{
    color:white;
    font-weight:bold;
}
.dlist .tr{
    text-align:left;
}
.dlist .td{
    padding:4px;    
}
.dlist .m{
    width:60%;
}
.tbl{
    display: block;
    width:100%;
}
.tr{
    display:block;
    vertical-align:middle;
    width:100%;
    padding:0px;
    margin:0px;
    overflow:visible;
    max-height:80px;
    min-height:25px;
    clear:both;
}
.td{
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    height:100%;
}
.tb .td {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top:10%;
    width:98%;
}

.tb {
    white-space: nowrap;
    overflow: hidden;
}

.stb {
    border: 0px solid silver;
    background:#105d65;
    font-size: medium;
    padding-top: 5px;
    color:silver;
    height:41px;
}
.stb a{
    color:white;
    pading:0px;
    margin:0px;
}
.StatusInfo, .StatusWarning, .StatusCritical, .zo_noresults {
    padding: 10px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    font-size: small;
}

.zo_noresults {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.StatusInfo {
    background-color: lightgreen;
}

.StatusWarning {
    background-color: yellow;
}

.StatusCritical {
    background-color: red;
}
.sih{width:65%;}
.searchInput {
    height: 25px;
    vertical-align: middle;
    border:1px solid #4895bf;
    background: #11849e;
    color:white;
    width:100%;
}
.avs{
  display:none;  
}
.cmp_container .td, .cmp_appt_container .td {
    text-align: left;
    padding: 2px;
}
.zo_select_button,.zo_button,.zo_button_disabled, .zo_button_group, input[type="button"], input[type="reset"],.searchButton,input[type="submit"] {
    font-size:small !important;
}
.zo_button_disabled, .zo_button {
    color: white;
    background: none;
    border: 0px;
}

.zo_select_button {
    width: 85px;	
    border: 0px;
    position: relative;
    top: 0px;
    height: 20px;
    font-weight:bold;
    /*color:#c2e0ee;*/
}

.Action {
    font-size: medium;
}

.Reply {
    background-position: 0 -20px !important;
}
.ReplyAll{
    background-position: 0 -236px !important;
}
.Forward{
    background-position: 0 -254px !important;
}
.Check{
    background-position: 0 -272px !important;
}
.Question{
    background-position: 0 -2px !important;
}
.Cancel{
    background-position: 0 -56px !important;
}
.Msg {
    background-position: 0 -308px !important;
}
.MsgGray {
    background-position: 0 -200px !important;
}
.Conv {
    background-position: 0 -326px !important;
}
.Contact {
    background-position: 0 -218px !important;
}
.Person48 {
    background: url( "@AppContextPath@/img/large/ImgPerson_48.png?v=@jsVersion@" ) 90% 50% no-repeat;
    height: 50px;
    width: 50px;
    padding: 2px;
}
.ContactGroup {
    background-position: 0 -380px !important;
}
.Attachment {
    background-position: 0 -362px !important;
    padding-left: 12px;
}
.nr {
    border-top:1px solid #DDD;
    clear:both;
}
.Textarea#bodyField {
    width: 98%;
    height: 150px;
}

.cmp_appt_container .Textarea, .cmp_container .td .Textarea {
    height: 20px;
    width: 90%;
}

.cmp_appt_container .td .Textarea#start, .cmp_appt_container .td .Textarea#end {
    width: 30%;
}

/*.cmp_appt_container .label, .cmp_container .label {
    width: 50px;
}*/

.ZhAC {
    position: relative;
}

.ZhACB,.Title {
    font-weight: bold;
}

.ZhACCont {
    position: absolute;
    bottom: 0;
}

.ZhACCont .yui-ac-content {
    position: absolute;
    border: 1px solid #404040;
    background: #fff;
    overflow: hidden;
    z-index: 9050;
}

.ZhACCont .yui-ac-shadow {
    position: absolute;
    margin: .3em;
    background: #a0a0a0;
    z-index: 9010;
}

.ZhACCont ul {
    margin: 0;
    padding: 1px 0;
    list-style: none
}

.ZhACCont li {
    margin: 0;
    padding: 0 1px;
    cursor: default;
    white-space: nowrap;
}

.ZhACCont li.yui-ac-highlight {
@SelectedBg@
}

.ZhACCont li.yui-ac-prehighlight {
    background: #FFFFCC;
}

.ZhACCont table {
    font-size: small;
}

.ZhACTo {
    z-index: 9050;
}

.ZhACCc {
    z-index: 9040;
}

.ZhACCb {
    z-index: 9030;
}
.searchButton,.tb,#appbar{
    background: transparent url("@AppContextPath@/img/mobile/wm6/tb.gif?v=@jsVersion@") repeat-x;
}
.searchButton {
    background-position:0px -2px !important;
    border:1px solid white;
    border:1px solid #4493EF;
    height:29px;
    vertical-align:middle;
}

.prev_button, .mid_button, .next_button {
    border: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;

}

.prev_button {

}

.next_button {
    border-left: 1px solid #335787;
}

.zo_button_group {
    margin: 2px;
}

.zo_button_disabled {
    color: silver;

}

.cont_sum_table {
    border-bottom: 1px solid #DDDDDD;

}

.cont_view .td {
    text-align: left;
}

.zo_cal_list TD, .zo_ab_list TD {
    border-bottom: 1px solid #E0E0E0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.zo_cal_listi_empty {
    text-align: center;
}

.cal_bottom_shadow {
    border-top: 3px outset #cccccc;
}
.fw{width:100%;}
#userinfo {
    color: #999999;
    padding: 4px;
    font-size: small;
    height: 30px;
    width:100%;
    border-bottom: 1px solid #DDDDDD;
}

#userinfo .quota-span {
    float: none;
    clear: none;
}
.loadingIcon{
    padding:0px 10px;
    background:#ffffd0 url("@AppContextPath@/img/mobile/iphone/loading.gif?v=@jsVersion@") 50% 50% no-repeat !important;
    -webkit-border-radius: 5px;
}
.loadingDiv{
    position:absolute;
    top:43px;
    width:98%;
    background-color:#ffffd0;
    padding:12px !important;
}
#copyright_notice {
    text-align: center;
    padding: 5px;
}

.Folders {
    padding: 5px;
}

.row {
    display: table-row;
    min-height: 50px;
}

.chk {
    vertical-align: middle;
    height: 15px;
    width: 15px;
    padding: 0px;
    margin-left: 5px;
}
.aleft {
    text-align:left !important;
    padding-left: 5px;
}
.aright {
    text-align:right !important;
    padding-right:5px;
}
.from-span, .sub-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    cusrsor: hand;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

.f {
    max-width: 50px;
    width: 40px;
    white-space: nowrap;
    padding-top:20px !important;
    text-align:center;
}
.l, .m {
    vertical-align: top;
    text-align:left;
    overflow:hidden;
}
.l {
    width: 55px;
    text-align: right;
    font-size: small;
    white-space:nowrap;
    position:absolute;
    right:5px;overflow:visible;
    display:inline;
    margin-right:10px;
    max-height:80px;
}

.msg-list-in-conv {

}

.msg-list-in-conv .cell {
    padding: 2px !important;
}

/* TODO: Is this still used? And have we lost any formatting going to ImgEdit class?
.SmlIcnHldr,.Edit {
    width: 16px;
    height: 16px;
    max-height: 16px;
    display:inline-block;
    font-size:13px !important;
    background: url("@AppContextPath@/img/mobile/iphone-ext/common.gif?v=@jsVersion@") no-repeat top left;
}
.Edit{
    background-color: transparent;
    background-position:50% -409px !important;
    padding: 1px 3px;
    border:1px outset #efefef;
}
*/
#nfldrfrm .td,#nsrchfrm .td,#ntagfrm .td{
	width: 100%;
	text-align: center;
	display: inline-block;
}

.Img { display:inline-block; }
