/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */
body{
    margin:0px;
    madding:0px;
    font-size:small;
    font-family: Myriad, "Lucida Grande", Helvetica, Arial, Verdana, Sans-serif;
}
.hiddenFrame {
    z-index:-9999;
    position:absolute;
    left:-9999px;
    top:-9999px;
    width:0px;
    height:0px;
}
a{
    color: #003399;
    text-decoration:none;
}
.tbl{
    display:table;
    width:100%;
}
.tr{
    display:table-row;
}
.td{
    display:table-cell;
	width: 50%;
}

#appbar{
    height:18px;
    line-height:18px;
    vertical-align:middle;
    background: #ebebff;
}
.appTab,.appTab-active{
    border-bottom:1px solid rgb(160, 182, 230);
    padding:2px;
    text-align:center;
    vertical-align:middle;
}
.appTab-active{
    border:1px solid rgb(160, 182, 230);
    border-bottom:0px solid silver;
    background:#ffffff;
}
.tb,.stb{
    height:20px;
    line-height:20px;
    vertical-align:middle;
    background: #ebebff;
    border-bottom:1px solid rgb(160, 182, 230);
    text-align:center;
    padding:2px 0px;
}
.stb{
    background:#ffffff;
}
.zo_button,.zo_button_disabled,.zo_select_button,input[type="submit"],.submitButton,select,input[type="button"]{
    padding:2px;
    border:0px;
    background:transparent;
    text-decoration:none;
    color: #3943e6;
    font-size:14px;
    text-decoration:none;
}
.zo_button_disabled {
    color: silver;
}
.nr .td{
    border-top:1px solid #eee;
}
.next_button{
    border-left:1px solid silver;
    padding-left:5px;
}
select{
    width:30%;
    
}
.list-row,.list-row-unread{
    border-bottom:1px solid #dddddd;
    vertical-align:middle;
    padding:2px 1px;
    background:rgb(248,248,252);
}
.list-row-unread{
    background:#ffffff;
}
.list-row-unread .from-span,.list-row-unread .sub-span {
    font-weight:bold;
}
.Email a {
    color: #666666;
}
span.f,span.m,span.l{
    display:table-cell;
    padding:2px;
}
span.m{
    width:100%;
}
span.f{
    vertical-align:middle;
    text-align:center;
    width:25px;
    min-width:25px;
}
span.l{
    text-align:right;
    width:40px;
    white-space:nowrap;;
}
.frag-span,.small-gray-text{
    color:gray;
}
.shown{
    visibility:visible;
    display:block;
}
.hidden{
    visibility:hidden;
    display:none;
}
.loadingDiv{
    position:absolute;
    background:#ffeeaa !important;
    padding:4px;
    width:auto;
    width:98%;
}
#msgDiv,#msgbar {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    z-index:800 !important;
}

.left {
    float: left;
    padding-left: 2px;
}
.right {
    float: right;
    padding-right:2px;
}
.aleft {
    text-align:left !important;
    padding-left: 2px;
}
.aright {
    text-align:right !important;
    padding-right:2px;
}
#searchbar,#savesearchbar {
    text-align: center;
    vertical-align: middle;
    padding:2px 0px;
    margin: 0px;
    border-bottom: 1px solid silver;
}
form {
    padding: 0px;
    margin: 0px;
}
.View {
    background-color: white;
    margin: 1px;
    border: 1px solid #a7b2bc;
    padding: 2px; /* font-size:medium;*/
}
.label{
    color:gray;
}
hr{
    color:gray;
    border:1px solid gray;
}

#userinfo {
    color: #999999;
    padding: 2px 1px;
    font-size: small;
    height: 20px;
    border-bottom: 1px solid silver;
}
#userinfo .logout-span {
    float: left;
}
#copyright_notice {
    text-align: center;
    padding: 2px;
}
.StatusInfo, .StatusWarning, .StatusCritical, .zo_noresults {
    padding: 2px;
    margin: 0px;
    height:20px;
    font-weight: bold;
    text-align: center;
    font-size: small;
}
.zo_noresults {
    height: 100px;
    text-align: center;
}
.StatusInfo {
    background-color: lightgreen;
}
.StatusWarning {
    background-color: yellow;
}
.StatusCritical {
    background-color: red;
}
.Textarea#bodyField {
    width: 98%;
    min-height: 150px;
}
.cmp_appt_container .Textarea, .cmp_container .td .Textarea {
    height: 17px;
    width: 90%;
}
.moquery .Textarea,.moquery .sq_folder,.moquery .sq_tag,.moquery .st{
    width:92%;
}
.moquery .sq_size_comp,.moquery .sq_size_units, .moquery .sq_size{
    width:29%;
}
.moquery .td{
    padding: 2px 1px;
    border-bottom: 1px solid #EEEEEE;
}
.cmp_appt_container .td .Textarea#start, .cmp_appt_container .td .Textarea#end {
    width: 30%;
}
.cmp_appt_container .label, .cmp_container .label,.moquery .label{
    width: 20px;
}
.searchInput {
    height:16px;
    margin:1px;
    vertical-align:middle;
    width:95%;
}
/*Auto Complete*/
.ZhAC {
    position: relative;
}
.ZhACB {
    font-weight: bold;
}
.ZhACCont {
    position: absolute;
    bottom: 0;
}
.ZhACCont .yui-ac-content {
    position: absolute;
    border: 1px solid #404040;
    background: #fff;
    overflow: hidden;
    z-index: 9050;
}
.ZhACCont .yui-ac-shadow {
    position: absolute;
    margin: .3em;
    background: #a0a0a0;
    z-index: 9010;
}
.ZhACCont ul {
    margin: 0;
    padding: 1px 0;
    list-style: none
}
.ZhACCont li {
    margin: 0;
    padding: 0 1px;
    cursor: default;
    white-space: nowrap;
}
.ZhACCont li.yui-ac-highlight {
@SelectedBg@
}
.ZhACCont li.yui-ac-prehighlight {
    background: #FFFFCC;
}
.ZhACCont table {
    font-size: small;
}
.ZhACTo {
    z-index: 9050;
}
.ZhACCc {
    z-index: 9040;
}
.ZhACBCc {
    z-index: 9030;
}

.Flag:before {
    content:"|>";
    word-spacing:1px;
    color:red;
}
.Tagblue:before {
    content:"t";
    color:blue;
}
.Tagcyan:before {
    content:"t";
    color:cyan;
}
.Tagorange:before {
    content:"t";
    color:orange;
}
.Taggreen:before {
    content:"t";
    color:green;
}
.Tagpurple:before {
    content:"t";
    color:purple;
}
.Tagred:before {
    content:"t";
    color:red;
}
.Tagyellow:before {
    content:"t";
    color:yellow;
}
.TagStack {
    content:"t+";
    color:brown;
}
.TagdefaultColor,.Tag {
    background-position: 0 -146px !important;
}

.SmlIcnHldr {
    width: 10px;
    height: 10px;
    max-height: 10px;
    display: inline-block;
    vertical-align: middle;
}
.Edit:before{
	content:"#";
}

/*CALENDAAR**/

.cal_prev{
    width:25px;
    background:url("@AppContextPath@/img/zimbra/ImgPreviousPage.png?v=@jsVersion@") 50% 50% no-repeat;
    display:inline-block;
}

.cal_next{
    width:25px;
    background:url("@AppContextPath@/img/zimbra/ImgNextPage.png?v=@jsVersion@") 50% 50% no-repeat;
    display:inline-block;
}

.zo_cal_mpage {
    background: #D6D6D6; /*#D0D0F0;*/
    padding: 2px;
    color: black;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.zo_cal_mdow {
    background: #D6D6D6; /*#D0D0F0;*/
    font-weight: bold;
    font-size: smaller;
    text-align: center;
    color: #555555;
    border-bottom: 1px solid #E0E0E0;
}

.zo_cal_mday, .zo_cal_mday_select{
    background: #E6E6E6; /*#D0D0F0;*/
    border: 1px outset white;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
}

.zo_cal_mday_today {
    background: #2e69e0;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
}

.zo_cal_mday_text, .zo_cal_mday_textO {
    font-size: medium;
    font-weight: bold;
    color: #3a3e47; /*#474d59;*/

}
.zo_cal_mday_textO {
    color: #8e9198;
}

.zo_cal_mday_today .zo_cal_mday_text, .zo_cal_mday_select .zo_cal_mday_textO,.zo_cal_mday_today .zo_cal_mday_text0 {
    color: white !important;
}

.zo_cal_mday_appt {
    text-decoration: underline;
}
table {
    border-collapse: collapse;
}
.zo_cal_mlist {
    display: none;
}
.zo_cal_listheader, .zo_cal_dayheader {
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    line-height: 2.0em;
    font-weight: bold;
}

.zo_cal_listh_dow, .zo_cal_listi_time {
    padding-left: 2px;
}

.zo_cal_listi {
    padding: 2px;

}
.zo_cal_listi_subject{
    white-space:nowrap;
    text-overflow:ellipsis;
}
.zo_cal_listi_subject a {
    color: black;
    font-weight: bold;
}

.zo_cal_listh_date {
    float: right;
}

.zo_cal_listh {
    background: #9ca9b2;
    color: white;
    font-weight: bold;
    border-top: 2px double #9ca9b2;
    border-bottom: 1px double #9ca9b2;
}
.zo_cal_list TD, .zo_ab_list TD {
    border-bottom: 1px solid #E0E0E0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.zo_cal_listi_empty {
    text-align: center;
}
.cal_bottom_shadow {
    border-top: 2px outset #cccccc;
}

.zo_allday_appt A, .zo_day_appt A {
    text-decoration: none;
    color: black;
}

.zo_allday_appt {
    border: 1px solid #333333;
}

.zo_allday_appt_noright {
    border-right: none;
}

.zo_allday_appt_noleft {
    border-left: none;
}

.zo_day_appt {
    width: 100%;
    height: 100%;
    border: 1px outset #DDDDDD;
}

.zo_allday_appt .zo_appt_text {
    padding: 1px 2px; /*font-weight: bold;*/
    color: black;
}

.zo_day_appt .zo_appt_text {
    padding: 2px; /*font-weight: bold;*/
    color: black;
}


.Orange {
    background-color: #FF9940;
}

.OrangeDark {
    background-color: #FF7700;
}

.OrangeLight {
    background-color: #FFBB80;
}

.OrangeBg {
    background-color: #FFDDBF;
}

.OrangeC {
    color: #FF9940;
}

.OrangeDarkC {
    color: #FF7700;
}

.OrangeLightC {
    color: #FFBB80;
}

.OrangeBgC {
    color: #FFDDBF;
}

.Yellow {
    background-color: #FFE640;
}

.YellowDark {
    background-color: #FFDD00;
}

.YellowLight {
    background-color: #FFEE80;
}

.YellowBg {
    background-color: #FFF6BF;
}

.YellowC {
    color: #FFE640;
}

.YellowDarkC {
    color: #FFDD00;
}

.YellowLightC {
    color: #FFEE80;
}

.YellowBgC {
    color: #FFF6BF;
}

.Green {
    background-color: #40A05F;
}

.GreenDark {
    background-color: #00802A;
}

.GreenLight {
    background-color: #80C095;
}

.GreenBg {
    background-color: #BFDFCA;
}

.GreenC {
    color: #40A05F;
}

.GreenDarkC {
    color: #00802A;
}

.GreenLightC {
    color: #80C095;
}

.GreenBgC {
    color: #BFDFCA;
}

.Cyan {
    background-color: #40D9D9;
}

.CyanDark {
    background-color: #00CCCC;
}

.CyanLight {
    background-color: #80E6E6;
}

.CyanBg {
    background-color: #BFF2F2;
}

.CyanC {
    color: #40D9D9;
}

.CyanDarkC {
    color: #00CCCC;
}

.CyanLightC {
    color: #80E6E6;
}

.CyanBgC {
    color: #BFF2F2;
}

.Blue {
    background-color: #4073D9;
}

.BlueDark {
    background-color: #0044CC;
}

.BlueLight {
    background-color: #80A2E6;
}

.BlueBg {
    background-color: #BFD0F2;
}

.BlueC {
    color: #4073D9;
}

.BlueDarkC {
    color: #0044CC;
}

.BlueLightC {
    color: #80A2E6;
}

.BlueBgC {
    color: #BFD0F2;
}

.Purple {
    background-color: #7940A0;
}

.PurpleDark {
    background-color: #4C0080;
}

.PurpleLight {
    background-color: #A680C0;
}

.PurpleBg {
    background-color: #D2BFDF;
}

.PurpleC {
    color: #7940A0;
}

.PurpleDarkC {
    color: #4C0080;
}

.PurpleLightC {
    color: #A680C0;
}

.PurpleBgC {
    color: #D2BFDF;
}

.Gray {
    background-color: #BFBFBF;
}

.GrayDark {
    background-color: #A9A9A9;
}

.GrayLight {
    background-color: #D4D4D4;
}

.GrayBg {
    background-color: #E9E9E9;
}

.GrayC {
    color: #BFBFBF;
}

.GrayDarkC {
    color: #A9A9A9;
}

.GrayLightC {
    color: #D4D4D4;
}

.GrayBgC {
    color: #E9E9E9;
}
.zo_cal_hs, .zo_cal_hsb, .zo_cal_adhs {
    border-right: 1px solid #E0E0E0;
}

.zo_cal_adds, .zo_cal_dsep {
    border-left: 1px solid #E0E0E0;
}

.zo_cal_hsb {
    border-bottom: 1px solid #E0E0E0;
}

/* allday bottom */
.zo_cal_adb, .zo_cal_adhs {
    border-bottom: 4px solid #e5e5e5; /*    @BottomSeparator-light@ */
}

/* hour bottom */
.zo_cal_dhb, .zo_cal_dhhb {
    border-bottom: 1px solid #C0C0C0; /*    @BottomSeparator-light@ */
}

/* half hour bottom */
.zo_cal_dhhb {
    border-bottom-style: dashed;
}

#nfldrfrm .td{
	width: 100% !important;
	text-align: center;
	display: table-cell;
}
