/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2006, 2007, 2009, 2010, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2006, 2007, 2009, 2010, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */

 
 
P, TD, DIV, SPAN, SELECT, INPUT, TEXTAREA, BUTTON, A {
	@FontFamily-default@
}

HTML {
	@FullSize@
}

BODY {
	@ChromeBg@
	@FullSize@
	margin: 0px;
}

FORM {
	margin: 0;
	padding: 0;
}



.DwtButton 								{	@NormalButton@					}
.DwtButton-hover	 					{	@NormalButton-hover@			}
.DwtButton-active					{	@NormalButton-active@			}	
.DwtButton-selected						{	@NormalButton-selected@			}	
.DwtButton-disabled						{	@NormalButton-disabled@			}	
.DwtButton-active						{	@NormalButton-default@			}	
.DwtButton-focused						{	@NormalButton-focused@			}	
		
.DwtButton .Text 						{	@NormalButtonText@				}
.DwtButton-hover .Text					{	@NormalButtonText-hover@		}
.DwtButton-active .Text				{	@NormalButtonText-active@		}	
.DwtButton-selected .Text				{	@NormalButtonText-active@		}	
.DwtButton-disabled .Text				{	@NormalButtonText-disabled@		}	
.DwtButton-active .Text					{	@NormalButtonText-default@		}	
.DwtButton-focused .Text				{	@NormalButtonText-focused@		}	




/* Outer panel for the entire login/splash dialog */
#ZLoginPanel {
	position:relative;
	width:500px;
	overflow:visible;
	border: 2px solid; 
	border-color: #CCCCCC #000000 #000000 #CCCCCC;
}


/* Cell for the 'header' (logo/app name/version) */
#ZLoginHeaderContainer {
	/* @PageBg@ */
}

/* Cell for the 'body' (notice/form/about) */
#ZLoginBodyContainer {
	/* @ContentBg@	*/
	background-color:#eeeeee;
	padding-top:20px;
}



/* Cell for the 'license' (copyright, etc) */
#ZLoginLicenseContainer {
	/* @ContentBg@	*/
	background-color:#eeeeee;
	padding-top:20px;
	padding-bottom:5px;
	text-align:center;
	vertical-align:bottom;
	color:#666666;
	font-size:9px;
}

/* Cell for the 'banner' */
#ZLoginBannerContainer {
}

/* Outer element for the 'banner' (image/app name/version) */
#ZLoginBannerPanel {
	margin:10px;
	position:relative;
}

/* Application logo.  Use this for positioning only, image comes from .ImgLoginBanner */
#ZLoginBannerImage {}


/* (optional) Short version of the app -- eg:  'Beta' */
#ZLoginShortVersion {
	vertical-align:top;
	font-size:18px;
	font-weight:normal;
	color:#666666;
}

/* Name of the app -- eg:  'Collaboration Suite' */
#ZLoginAppName {
	margin-top:5px;
	font-size:18px;
	width:100%;
	font-weight:bold;
	text-align:right;
}

/* (optional) Product name -- eg:  'Administration Console' */
#ZLoginProductName {
	font-size:15px;
	width:100%;
	font-weight:normal;
	text-align:right;
}

/* Long version number, eg:  'Version 3.5 (April 18, 2005)' */
#ZLoginLongVersion {
	margin-top:3px;
	color:#666666;
	font-size:9px;
	width:100%;
	font-weight:normal;
	text-align:right;
}


/* Panel that shows an error or notice */
#ZLoginErrorPanel {
	position:relative;
	left:10%;
	width:80%;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	border:1px solid #7c7c94;
	background-color: #ffffcc;
}




/* Error icon -- use for positioning only, image comes from .ImgLoginError */
#ZLoginErrorIcon {}


/* Login error message text -- use for positioning only, text style comes from .errorText */
#ZLoginErrorMsg {}
.errorText {}


/* Panel that contains all versions of the login panel */
#ZLoginFormPanel {
	position:relative;
	left:10%;
	width:80%;
}


/* Container that owns the login button */
#ZLoginButton {}

/* Container that owns the name of the login button */
#ZLoginButtonText {}

/* Containers that hold the various login form pieces -- set display:none on these to hide each piece */
#ZLoginUserTr {}
#ZLoginPasswordTr {}
#ZLoginNewPassword1Tr {}
#ZLoginNewPassword2Tr {}


/* Container for the "remember me" checkbox */
#ZLoginRememberMeContainer {}


/* Generic table in login panel -- used to make spacing easier */
.zLoginTable {
	border-collapse: collapse;
}

/* Field label (right-aligned) */
.zLoginLabelContainer {
	white-space:nowrap;
	text-align:right;
	color:#666666;
	width:100px;
}

/* Field label (left-aligned) */
.zLoginCheckboxLabelContainer {
	white-space:nowrap;
	color:#666666;
}

/* Field <input> element */
.zLoginField {
	width:100%;
}

/* Container (td) for fields */
.zLoginFieldContainer {}


/* Container (td) for buttons */
.zLoginButtonContainer {}


/* Panel to show the "loading..." message */
#ZLoginLoadingPanel {
	position:relative;
	left:10%;
	width:80%;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
}


/* Actual place where the license text lives */
#ZLoginLoadingMsg {
	font-size:15px;
	font-weight:bold;
}

/* message/link allowing them to switch from Ajax to HTML client */
#ZLoginSwitchMsg {
	padding-top:10px;
}

/* Panel to show the "About" message */
#ZLoginAboutPanel {
	position:relative;
	left:10%;
	width:80%;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	font-size:15px;
}



/* Container to show/hide the license text */
#ZLoginLicenseMsgContainer {}

/* Actual place where the license text lives */
#ZLoginLicenseMsg {
	font-size:15px;
	font-weight:bold;
}

