/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2007, 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2007, 2008, 2009, 2010, 2011, 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */

/*---reset ----------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*-------------------- */
body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
#IFDEF IPHONE
    overflow: hidden;
    -webkit-text-size-adjust: none;
#ENDIF
}

.zo_toolbar,.ToolbarBg {
    margin: 0;
    padding: 10px;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: url(@AppContextPath@/img/mobile/iPhoneToolbar.png?v=@jsVersion@) #6d84a2 repeat-x;
    border-bottom: 1px solid #2d3642;
    height:40px;
}

.zo_toolbar TD {
    border: none;
    padding:5px 3px;
    line-height: 20px;
    font-size: medium;
    font-weight: bold;
}
.ToolbarBg,.x_list_container {
    width:100%;
}
.zo_tb_submit INPUT {
    padding:4px;
    font-size: medium;
    color: #000000;
    text-decoration: none;
    background: none;
}
.zo_m_chk{
	width:5px;
	padding:3px;
}
.zo_button{
    -webkit-border-image: url(@AppContextPath@/img/mobile/iPhoneButton.png?v=@jsVersion@) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 4px;
    margin:2px;
     -webkit-margin:2px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}
.zo_button_disabled{
    color:gray;
    -webkit-border-image: url(@AppContextPath@/img/mobile/iPhoneButton.png?v=@jsVersion@) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 4px;
    margin:3px;
     -webkit-margin:3px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}
.zo_leftbutton {
    -webkit-border-image: url(@AppContextPath@/img/mobile/iPhoneBackButton.png?v=@jsVersion@) 0 8 0 14;
    -webkit-border-radius: 0;
    border-width: 0 8px 0 14px;
    padding: 4px;
    margin:5px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}

.zo_main_item {
   margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    background: url(@AppContextPath@/img/mobile/iPhoneArrow.png?v=@jsVersion@) no-repeat right center;
    font-size: 20px;
}

.zo_main_item > a {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    color: inherit;
}

.zo_main_info_cont {
    padding: 10px;
}

.zo_main_info {
    padding: 5px;
    border:1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.Stripes{background: #c5ccd4 url("@AppContextPath@/img/mobile/pinstripes.png?v=@jsVersion@") top left;}

.View{-moz-border-radius: 8px; -webkit-border-radius: 8px; background-color: white; margin: 5px; border: 1px solid #a7b2bc; padding: 5px; font-size:small;}
.Email a{text-decoration: none;}
.Padding{padding: 0 2px;}
.label{color: #4d8dc3;}
.Textarea{border: 0; padding: 3px; font: inherit; width: 100%;}

.SmallText{font-size: small; color: black;}

.zo_main_fname {
    font-size:medium;
    color: gray;
    text-align: right;
}

.zo_main_fvalue {
    padding-left:5px;
    font-size:medium;
    color: black;
}

.mo_taglist SPAN {
    vertical-align: middle;  padding-right:5px;
    font-size: small;
}

.mo_taglist IMG {
   vertical-align: middle;
}

.zo_query_fname {
    font-size: medium;
    font-weight: normal;
    color: gray; /*#BBBBBB;*/
    text-align:right;
    /*padding-left: 5px;*/
}

.zo_query_fvalue {
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 6px 6px 6px;
    font-size: medium;
    font-weight: normal;
    vertical-align: middle;
}
.zo_query_fvalue INPUT, .zo_query_fvalue SELECT {
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 6px 6px 6px 0px;
    font-size: medium;
    font-weight: normal;
}

.zo_vertsep {
border-left: 1px solid #a29a87;
margin-left:3px;
padding-right:3px;
height: 20px;
}

/************************************************************************************************/

/* mail */


.zo_msgops A {
#IFDEF IPHONE
  text-decoration: none;
  color: black;
#ENDIF
}

.zo_action INPUT, .zo_action SELECT {
    padding:4px;
    font-size: medium;
    color: #000000;
    text-decoration: none;
}

.zo_msgcompose {
	/*@FontFamily-fixed@*/
	font-size: medium;
}

.zo_mc_fname {
    font-size:medium;
    color: gray;
  text-align: right;
}

.zo_mc_fvalue, .zo_mc_fvalue TEXTAREA, .zo_mc_fvalue INPUT {
    font-size:medium;
    color: black;
}

.zo_fldr A {
  text-decoration: none;
  vertical-align: middle;
  color:inherit;
}

.zo_fldr SPAN {
    vertical-align: middle;
}

.zo_fldr  {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 5px;
    background: url(@AppContextPath@/img/mobile/iPhoneArrow.png?v=@jsVersion@) no-repeat right center;
    font-size: medium;

}
.zo_fldr_rowsep  {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 5px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background: lightslategray;
    color: white;
    font-weight:bold;
}

.zo_dispimages {
        cursor: pointer;
        background-color: #FFFFCC;
        padding: 7px;
        font-size: 10pt;
        /*border-bottom: 1px solid #777777;*/
        border:1px solid #333333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.zo_m_list_row A {
    text-decoration: none;

}

.zo_m_list_row {
  border-bottom: 1px solid #E0E0E0;
 /* background: url(@AppContextPath@/img/mobile/iPhoneArrow.png?v=@jsVersion@) no-repeat right center;*/
}

.zo_m_cv_sub {
    font-size: medium;
    border-bottom: 1px solid #E0E0E0;
    padding:5px;
}

.zo_m_list_from {
    font-size: small;
    color:gray;
}

.zo_unread, .zo_m_list_unread .zo_m_list_from, .zo_m_list_unread .zo_m_cv_sub, .zo_m_list_unread .zo_m_list_from {
    font-weight: bold;
}

.zo_m_list_date {
    text-align:right;
    font-size: small;
    color: blue;
}
.zo_m_list_sub {
    font-size: small;
    color: black;
}
.Email a,.zo_m_list_frag {
    font-size: small;
    color: gray;
}

.zo_m_list_size {
    font-size: small;
    color: black;
}

.zo_noresults {
	text-align: center;
	padding: 20px 0px 20px 0px;
	font-weight: bold;
    color: gray;
}

/* calendar */
.zo_cal_list TD, .zo_ab_list TD {
    border-bottom: 1px solid #E0E0E0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.zo_cal_lpage {
  border-bottom: 1px solid #E0E0E0;
  padding:5px;
}

.zo_cal_lpage_row {
  background-color: #A6A6A6;
  color:black;
}
.zo_cal_listheader {
	text-align:center;
    border-bottom: 1px solid #E0E0E0;
    line-height: 2.0em;
    font-size: medium;
    color:white;
    font-weight:bold;
}

.zo_cal_listh {
    background: #A6A6A6; /*#D0D0F0;*/
    color: white;
    font-weight:bold;
}
.zo_cal_listh_dow {
    text-align: center;
}
.zo_cal_listh_date {
    text-align:right;
    padding-right: 5px;
    white-space:nowrap;
}

.zo_cal_listi {
    background: white;
    color: black;
}

.zo_cal_listi A {
    text-decoration: none;
    color: black;
}
.zo_cal_listi_time {
    text-align: center;
    font-weight: bold;
    font-size: small;
    padding: 5px 5px;
    white-space:nowrap;
}
.zo_cal_listi_time_ampm {
    color: gray;
}
.zo_cal_listi_subject {
    text-align:left;
    font-size: medium;
    font-weight: bold;
    padding: 5px 0 5px 5px;
    /*white-space:nowrap;
    text-overflow: ellipsis-word;
    overflow:hidden;*/
}

.zo_cal_listi_empty {
    font-size: medium;
    font-weight: bold;
    padding: 5px 0 5px 5px;
    color:gray;
    text-align:center;
}

/* day of week label for the month */
.zo_cal_dayhour {
    border-bottom: 1px solid #E0E0E0;
	text-align:center;
    font-size: small;
}

/* day of week label for the month */
.zo_cal_allday {
	text-align:center;
    font-size: small;
}

/* header for day view */
.zo_cal_dayheader, .zo_cal_dayheader_today {
	text-align:center;
    border-bottom: 1px solid #E0E0E0;
    line-height: 2.0em;
    font-size: large;
    color:white;
    font-weight:bold;
}

.zo_cal_dayheader_today {
    color:lightsteelblue;
}

.zo_cal_mlist { display: none; }

.zo_cal_mpage {
  background: #D6D6D6; /*#D0D0F0;*/
  padding:5px;
  color: black;
    font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.zo_cal_mdow {
    background: #D6D6D6; /*#D0D0F0;*/
    font-weight: bold;
    font-size: smaller;
    text-align: center;
    color: black;
    border-bottom: 1px solid #E0E0E0;
}

.zo_cal_mday, .zo_cal_mday_select {
   background: #E6E6E6; /*#D0D0F0;*/
   border: 1px inset gray;
   vertical-align: middle;
   text-align: center;
   padding: 5px;
}

.zo_cal_mday_text, .zo_cal_mday_textO {
   font-size: larger;
   font-weight:bold;
   color: black;

}

.zo_cal_mday_appt {
       text-decoration:underline;
}

.zo_cal_mday_textO {
   color: gray;
}


.zo_cal_mday_select {
   background: lightsteelblue;
}

.zo_cal_dpage {
  border-bottom: 1px solid #E0E0E0;
  padding:5px;
}

.zo_cal_dpage_row {
  background-color: #A6A6A6;
  color:black;
}

/* column between hours and appts */
.zo_cal_hs, .zo_cal_hsb, .zo_cal_adhs {
  border-right: 1px solid #E0E0E0;
}
.zo_cal_adds, .zo_cal_dsep {
    border-left: 1px solid #E0E0E0;
}

.zo_cal_hsb {
   border-bottom: 1px solid #E0E0E0;
}

/* allday bottom */
.zo_cal_adb, .zo_cal_adhs {
    border-bottom: 4px solid #C0C0C0; /*    @BottomSeparator-light@ */
}

/* hour bottom */
.zo_cal_dhb, .zo_cal_dhhb {
    border-bottom: 1px solid #C0C0C0; /*    @BottomSeparator-light@ */
}
/* half hour bottom */
.zo_cal_dhhb {
    border-bottom-style: dashed;
}

.zo_allday_appt A, .zo_day_appt A {
    text-decoration: none;
    color: black;
}

.zo_allday_appt {
    border:2px solid #333333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-top-width:1px;
	border-bottom-width:1px;
}

.zo_allday_appt_noright {
    border-right: none;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}

.zo_allday_appt_noleft {
    border-left: none;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

.zo_day_appt {
    width: 100%;
    height: 100%;
    border:1px solid #333333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.zo_allday_appt .zo_appt_text {
    padding: 1px 5px;
    /*font-weight: bold;*/
    color:black;
}

.zo_day_appt .zo_appt_text {
    padding: 5px;
    /*font-weight: bold;*/
    color:black;
}

.zo_obj_body {
    /*background: lightgray;*/
    box-sizing: border-box;
    background: #c8c8c8 url(@AppContextPath@/img/mobile/pinstripes.png?v=@jsVersion@);
}

.zo_appt_view {
    width: 100%;
    padding: 5px;
}

.zo_appt_view_cont {
    border:1px solid #333333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: white;
    padding: 10px 5px;
}

.zo_av_sub {
    font-size: large;
    font-weight: bold;
 }

.zo_av_loc {
    font-size: medium;
    color: gray;
}


.zo_av_time {
    font-size: medium;
    color: darkslateblue;
}


.zo_ab_list_arrow {
  background: url(@AppContextPath@/img/mobile/iPhoneArrow.png?v=@jsVersion@) no-repeat right center;
  width:15px;  
}
.zo_ab_list_arrow A {
  text-decoration: none;
}
.zo_cv_cont {
    border:1px solid #333333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: white;
    padding: 10px 5px;
}

.zo_cv_heading {
    padding: 5px 5px;
}

.zo_cv_fileas {
    font-size: larger;
    font-weight: bold;
}

.zo_cv_title, .zo_cv_comp {
    font-size: small;
    font-weight: normal;
}

.zo_cv_fname {
    width:80px;
    font-size: medium;
    font-weight: normal;
    color: steelblue;
    text-align:right;
    padding-right:15px;
}

.zo_cv_fval {
    font-size: medium;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/*** mail ***/

.zo_mv_fname {
    font-size:medium;
    color: gray;
  text-align: right;
}

.zo_mv_fvalue {
    padding-left:5px;
    font-size:medium;
    color: black;
}

.zo_mv_subject {
    font-weight: bold;
    font-size:medium;
    color: black;
}

.zo_mv_date {
    font-size:small;
    color:gray;
}

.zo_mv_body {
    font-size:medium;
}

/*
 * Colors, for use in calendar and elsewhere.
 *
 * Use the base color (eg: "Red") to show a list of colors.
 * Use the "Bg" version ("RedBg" as background in a list, etc)
 * Dark and Light are primarily for use in borders
 *
 */

.Selection			{ background-color:#ADD6D6;}
.SelectionDark		{ background-color:#91C8C8; }
.SelectionLight		{ background-color:#C8E4E4; }
.SelectionBg		{ background-color:#E3F1F1; }

.Red				{ background-color:#E34040;}
.RedDark			{ background-color:#D90000; }
.RedLight			{ background-color:#EC8080; }
.RedBg				{ background-color:#F5BFBF; }
.RedC				{ color:#E34040;}
.RedDarkC			{ color:#D90000; }
.RedLightC			{ color:#EC8080; }
.RedBgC				{ color:#F5BFBF; }

.Pink				{ background-color:#F492BF;}
.PinkDark			{ background-color:#F06EA9; }
.PinkLight			{ background-color:#F8B7D4; }
.PinkBg				{ background-color:#FBDBE9; }
.PinkC				{ color:#F492BF;}
.PinkDarkC			{ color:#F06EA9; }
.PinkLightC			{ color:#F8B7D4; }
.PinkBgC			{ color:#FBDBE9; }

.Orange				{ background-color:#FF9940;}
.OrangeDark			{ background-color:#FF7700; }
.OrangeLight		{ background-color:#FFBB80; }
.OrangeBg			{ background-color:#FFDDBF; }
.OrangeC			{ color:#FF9940;}
.OrangeDarkC		{ color:#FF7700; }
.OrangeLightC		{ color:#FFBB80; }
.OrangeBgC			{ color:#FFDDBF; }

.Yellow				{ background-color:#FFE640;}
.YellowDark			{ background-color:#FFDD00; }
.YellowLight		{ background-color:#FFEE80; }
.YellowBg			{ background-color:#FFF6BF; }
.YellowC			{ color:#FFE640;}
.YellowDarkC		{ color:#FFDD00; }
.YellowLightC		{ color:#FFEE80; }
.YellowBgC			{ color:#FFF6BF; }

.Green				{ background-color:#40A05F;}
.GreenDark			{ background-color:#00802A; }
.GreenLight			{ background-color:#80C095; }
.GreenBg			{ background-color:#BFDFCA; }
.GreenC				{ color:#40A05F;}
.GreenDarkC			{ color:#00802A; }
.GreenLightC		{ color:#80C095; }
.GreenBgC			{ color:#BFDFCA; }

.Cyan				{ background-color:#40D9D9;}
.CyanDark			{ background-color:#00CCCC; }
.CyanLight			{ background-color:#80E6E6; }
.CyanBg				{ background-color:#BFF2F2; }
.CyanC				{ color:#40D9D9;}
.CyanDarkC			{ color:#00CCCC; }
.CyanLightC			{ color:#80E6E6; }
.CyanBgC			{ color:#BFF2F2; }

.Blue				{ background-color:#4073D9;}
.BlueDark			{ background-color:#0044CC; }
.BlueLight			{ background-color:#80A2E6; }
.BlueBg				{ background-color:#BFD0F2; }
.BlueC				{ color:#4073D9;}
.BlueDarkC			{ color:#0044CC; }
.BlueLightC			{ color:#80A2E6; }
.BlueBgC			{ color:#BFD0F2; }

.Purple				{ background-color:#7940A0;}
.PurpleDark			{ background-color:#4C0080; }
.PurpleLight		{ background-color:#A680C0; }
.PurpleBg			{ background-color:#D2BFDF; }
.PurpleC			{ color:#7940A0; }
.PurpleDarkC		{ color:#4C0080; }
.PurpleLightC		{ color:#A680C0; }
.PurpleBgC			{ color:#D2BFDF; }

.Gray				{ background-color:#BFBFBF;}
.GrayDark			{ background-color:#A9A9A9; }
.GrayLight			{ background-color:#D4D4D4; }
.GrayBg				{ background-color:#E9E9E9; }
.GrayC				{ color:#BFBFBF;}
.GrayDarkC			{ color:#A9A9A9; }
.GrayLightC			{ color:#D4D4D4; }
.GrayBgC			{ color:#E9E9E9; }

.StatusInfo, .StatusWarning, .StatusCritical {
    padding: 5px;
    font-weight: bold;
    border:1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.StatusInfo     { background-color: lightgreen;}
.StatusWarning  { background-color: yellow;}
.StatusCritical { background-color: pink; }
