/*
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2013, 2014 Zimbra, Inc.
 * 
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "License");
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at: http://www.zimbra.com/license
 * The License is based on the Mozilla Public License Version 1.1 but Sections 14 and 15 
 * have been added to cover use of software over a computer network and provide for limited attribution 
 * for the Original Developer. In addition, Exhibit A has been modified to be consistent with Exhibit B. 
 * 
 * Software distributed under the License is distributed on an "AS IS" basis, 
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. 
 * See the License for the specific language governing rights and limitations under the License. 
 * The Original Code is Zimbra Open Source Web Client. 
 * The Initial Developer of the Original Code is Zimbra, Inc. 
 * All portions of the code are Copyright (C) 2013, 2014 Zimbra, Inc. All Rights Reserved. 
 * ***** END LICENSE BLOCK *****
 */


/* Common Styles for Login and Splash */

* {
	box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
	font-size: 75%;
}

/*COMMON*/
.ir {
	font: 0/0 transparent;
}

/*TYPOGRAPHY*/
body {
	color: #555;
	font-family:"Helvetica Neue", Helvetica, sans-serif;
	font-size:1em;
	font-weight: 300;
	line-height: 1.5;
	margin:0;
	text-align: center;
}

.txt-muted{
	color: #999;
}

h2 {
	font-size: 1.45em;
	font-weight: 300;
	margin-top: 0.6em;
	margin-bottom: 0;
}

/*LAYOUT*/
.content {
	margin: 0 auto -5em;
	min-height: 100%;
	max-width: 24em;
  	min-width: 18.75em;
  	padding: 0 1em 5em;
}


/*BANNER*/
.ImgLoginBanner {
	background-image: url(../img/oauth/TouchLoginBanner.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	cursor:pointer;
	height:85px;
	width:300px;
	margin: 0 auto 1.2em;
	zoom: 0.6;
}


/*FORMS & INPUTS*/

form {
	margin: 0 auto;
}

input {
	width: 100%;
	padding: 0.75em 0.9em;
	font-size: 1.1em;
	margin-top: 0.6em;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:focus {
	border:2px solid rgb(155,155,155);
	outline: 0;
}
input.error {
	border: 1px solid #ff0000;
}

.error-message {
	text-align: left;
	color: red;
	font-size: 1.15em;
	font-weight: normal;
	line-height: 1.375;
	padding: 0 2em 0 0.9em;
	margin-top: 0.65em;
	margin-bottom: 0;
}

.error-message + .button-container {
	margin-top: 0.7em;
}
.button-container {
	margin-top: 1em;
}

button {
	cursor: pointer;
	width: auto;
	margin: 0 auto;
	background: none;
	color: white;
	border: 0;
	font-size: 1.15em;
  	padding: 0.8em 2em;
	border-radius: 3px;
}

.btn-primary {
	background: #006D9F;
}

.btn-primary:hover {
	background: #007AB1;
}
.btn-primary:focus {
	background: #006D9F;
}
.btn-primary:active {
	background: #00618D;
}

.btn-secondary {
	background: #eaeaea;
	color: #006D9F;
	margin-right: 0.5em;
}

.btn-secondary:hover {
	background: #76797C;
}

.btn-secondary:focus {
	background: #6F7375;
}

.btn-secondary:active {
	background: #66696B;
}


.copyright {
	color:#999;
	cursor:default;
	font-size:1em;
	font-weight: 300;
	line-height: 1.375;
}

/*AUTHORIZATION PAGE*/
.list-unstyled{
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-bordered {
	border-top: 1px solid #e5e5e5;	
	margin-top: 1.3em;
}

.list-bordered li {
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.15em;
	line-height: 1;
	text-align: left;
	padding: 0.9em 0.5em 0.8em 3.3em;
}

.icon-email {
	background: url(../img/oauth/ic_mail.png) 0.5em center no-repeat transparent;
	background-size: 26px;
}
.icon-contacts {
	background: url(../img/oauth/ic_contacts.png) 0.5em center no-repeat transparent;
	background-size: 26px;
}

.terms {
	font-size: 1.05em;
	line-height: 1.2;
	margin: 1.9em 0;
	text-align: left;
	padding-left: 0.5em;
  	padding-right: 1.4em;
}


/*OTP PAGE*/
.verification-code-info{
	font-size: 1.45em;
	margin-top: 0.9em;
	line-height: 1.2;
}

.one-time-code-info {
	font-size: 1.15em;
	margin-top: 0.15em;
  	margin-bottom: 0;
}

.info-container {
	padding: 0.5em 0.4em;
  	margin-top: 0.75em;
  	border-radius: 3px;
}

.info-container a {
	color: #006E9D;
}

.info-container p {
	color: #6c6c6c;
	display: none;
	margin: 0.5em 0;
	font-size: 1.05em;
	line-height: 1.2;
}
.info-container-active {
	background: #EDEDED;
	transition: all 0.4s ease;
}
.info-container-active p {
	display: block;
}

/*PHONES WITH BIGGER SCREENS*/
@media only screen and/*!YUI-Compressor */(min-width : 22.5em) {
	html{
		font-size: 90%;
	}
	.ImgLoginBanner{
		zoom: 0.8;
	}
	.icon-contacts, .icon-email {
		background-size: 30px;
	}
}

/*DESKTOP & TABLETS*/
@media only screen and/*!YUI-Compressor */(min-width : 48em) , only screen and/*!YUI-Compressor */(min-width: 37.5em) and/*!YUI-Compressor */(orientation: portrait) {
	html {
		font-size: 100%;
	}
	
	.content {
        padding: 3.5em 0 5em;
        max-width: 31.5em;
	}

	.container{
		background: #ececec;
		padding: 0.7em 2.8em 2em;
		margin-bottom: 1.4em;
	}

	.ImgLoginBanner{
		zoom: 1;
	}

	form {
		margin: 0.45em auto 0;
	}

	input {
		font-size: 1.3em;
		padding: 0.85em 0.9em;
		margin-top: 0.5em;
	}

	.error-message {
		font-size: 1.4em;
		padding-left: 0.9em;
		margin-top: 0.65em;
	}
	
	.error-message + .button-container {
	   margin-top: 1.2em; 
	}
	
	.button-container {
		margin-top: 1.5em;
	}
	
	button {
		color: white;
		font-size: 1.3em;
		padding: 0.85em 2em;
	}

	.btn-secondary{
		background: #6F7375;
		color: #fff;
	}

	.copyright {
		font-size:0.85em;
	}

	/*AUTHORIZATION PAGE*/
	.list-bordered {
		border-width: 2px;	
		margin-top: 1.05em;
	}

	.list-bordered li {
		border-width: 2px;
		font-size: 1.4em;
		padding: 1.2em 0.5em 1.1em 3.8em;
	}

	.icon-email {
		background: url(../img/oauth/ic_mail_desktop.png) 0.5em center no-repeat transparent;
		background-size: 50px;
	}
	.icon-contacts {
		background: url(../img/oauth/ic_contacts_desktop.png) 0.5em center no-repeat transparent;
		background-size: 50px;
	}


	.terms {
		font-weight: normal;
		line-height: 1.3;
		margin-top: 1.35em;
		margin-bottom: 2.7em;
	}

}

/*High Res Devices images*/
@media (min-resolution: 1.1dppx), (min-resolution: 100dpi), (-webkit-min-device-pixel-ratio: 2) {
	.ImgLoginBanner {
		background-image: url(../img/oauth/TouchLoginBanner@2x.png);
	}
	
	.icon-email {
		background-image: url(../img/oauth/ic_mail@2x.png);
	}
	.icon-contacts {
		background-image: url(../img/oauth/ic_contacts@2x.png);
	}
}

@media (min-resolution: 1.1dppx) and/*!YUI-Compressor */(min-width: 48em), (min-resolution: 100dpi) and/*!YUI-Compressor */(min-width: 48em), (-webkit-min-device-pixel-ratio: 2) and/*!YUI-Compressor */(min-width: 48em){

	.icon-email {
		background-image: url(../img/oauth/ic_mail_desktop@2x.png);
	}
	.icon-contacts {
		background-image: url(../img/oauth/ic_contacts_desktop@2x.png);
	}
}
